<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="~{head}">
	<link th:href="@{/css/menu/normalize.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/menu/demo.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/menu/component.css}" rel="stylesheet" type="text/css" />
	<script th:src="@{/js/menu/modernizr.custom.js}"></script>
	
    <meta charset="utf-8" lang="pt-br"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/estilo.css}" rel="stylesheet"/>
	<link th:href="@{/jquery/jquery-ui.min.css}" rel="stylesheet"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" rel="stylesheet"/>
	<link th:href="@{/img/open-iconic-master/font/css/open-iconic-bootstrap.css}" rel="stylesheet"/>
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
</head>

<body>

<!--------------------------------------------------------------------------------------------------------->
	<div th:fragment="menu" id="esconderLogin">
		<div class="elemento1" >
			<div class="corFundo centralizar" id="login">
				
				<a th:href="@{/gazaltech}"><button class="btn btn-primary"><h1>Gazal Tech</h1></button></a>
				<br><br>
				<p>Soluções para seu negócio <span class="oi oi-rss-alt"></span></p>
				<hr>
				
				<nav id="Tmenu">
					<ul class="menu1">
						<li><a th:href="@{/novoPedido}"><span class="oi oi-cart"></span> NOVO PEDIDO</a></li>
						<li><a th:href="@{/relatoriodia}"><span class="oi oi-bar-chart"></span> ADM</a></li>
						<li><a th:href="@{/cadastros}"><span class="oi oi-people"></span> CADASTROS</a></li>
						<li><a th:href="@{/pagamento}"><span class="oi oi-clipboard"></span> EMPRESA</a></li>
						<li><a th:href="@{/sobre}"><span class="oi oi-wrench"></span> OPÇÕES</a>
						<li><a th:href="@{/index}"><span class="oi oi-account-logout"></span> SAIR</a></li>
					</ul>
				</nav>
				<button class="btn btn-primary" id="data"><span class="oi oi-calendar"></span> Data de acesso</button>
			</div>
		</div>
		<br>
		<script th:src="@{/js/index.js}"></script>
	</div>
	
	
<!--------------------------------------------------------------------------------------------------------->
	<div th:fragment="inicio" class="container">
		<ul id="gn-menu" class="gn-menu-main">
			<li class="gn-trigger">
				<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
				<nav class="gn-menu-wrapper">
					<div class="gn-scroller">
						<ul class="gn-menu">
							<li><a th:href="@{/verpedido}" accesskey="V"><span class="oi oi-grid-two-up"></span> Ver Pedidos</a></li>
							<li><a th:href="@{/novoPedido}" accesskey="N"><span class="oi oi-plus"></span> Novo Pedido</a></li>
							<li><a th:href="@{/cozinha}" accesskey="C"><span class="oi oi-clock"></span> Cozinha</a></li>
							<li><a th:href="@{/status}" accesskey="S"><span class="oi oi-eye"></span> Status</a></li>
							<li><a th:href="@{/motoboy}" accesskey="E"><span class="oi oi-timer"></span> Entregar</a></li>
							<li><a th:href="@{/finalizar}" accesskey="F"><span class="oi oi-data-transfer-download"></span> Finalizar</a></li>
							<!-- <li><a th:href="@{/receber}" accesskey="R"><span class="oi oi-data-transfer-download"></span> Receber</a></li>-->
						</ul>
					</div><!-- /gn-scroller -->
				</nav>
			</li>
			<li><a onclick="calculadora()"><span class="oi oi-calculator"></span> Calculadora</a></li>
			<li><a onclick="calendario()"><span class="oi oi-calendar"></span> Calendário</a></li>
			<li><a th:href="@{/menu}"><span class="oi oi-home"></span> Menu</a></li>
		</ul>
		<script th:src="@{/js/menu/classie.js}"></script>
		<script th:src="@{/js/menu/gnmenu.js}"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</div><!-- /container -->
	
	
<!--------------------------------------------------------------------------------------------------------->
	<div th:fragment="adm" class="container">
		<ul id="gn-menu" class="gn-menu-main">
			<li class="gn-trigger">
				<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
				<nav class="gn-menu-wrapper">
					<div class="gn-scroller">
						<ul class="gn-menu">
							<li><a th:href="@{/relatoriodia}"><span class="oi oi-list"></span> Relatório dos Pedidos</a></li>
							<li><a th:href="@{/fechamento}"><span class="oi oi-bar-chart"></span> Fechamento do Dia</a></li>
							<li><a th:href="@{/pedidosExcluidos}"><span class="oi oi-ban"></span> Pedidos Cancelados</a></li>
						</ul>
					</div><!-- /gn-scroller -->
				</nav>
			</li>
			<li><a onclick="calculadora()"><span class="oi oi-calculator"></span> Calculadora</a></li>
			<li><a onclick="calendario()"><span class="oi oi-calendar"></span> Calendário</a></li>
			<li><a th:href="@{/menu}"><span class="oi oi-home"></span> Menu</a></li>
		</ul>
		<script th:src="@{/js/menu/classie.js}"></script>
		<script th:src="@{/js/menu/gnmenu.js}"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</div><!-- /container -->


<!--------------------------------------------------------------------------------------------------------->
	<div th:fragment="cadastros" class="container">
		<ul id="gn-menu" class="gn-menu-main">
			<li class="gn-trigger">
				<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
				<nav class="gn-menu-wrapper">
					<div class="gn-scroller">
						<ul class="gn-menu">
							<li><a th:href="@{/cadastros}"><span class="oi oi-people"></span> Todos</a></li>
							<li><a th:href="@{/clientesCadastrados}"><span class="oi oi-person"></span> Clientes</a></li>
							<li><a th:href="@{/cadastroCliente}"><span class="oi oi-plus"></span> Cliente</a></li>
							<li><a th:href="@{/produtosCadastrados}"><span class="oi oi-tag"></span> Produtos</a></li>
							<li><a th:href="@{/cadastroProduto}"><span class="oi oi-plus"></span> Produto</a></li>
						</ul>
					</div><!-- /gn-scroller -->
				</nav>
			</li>
			<li><a onclick="calculadora()"><span class="oi oi-calculator"></span> Calculadora</a></li>
			<li><a onclick="calendario()"><span class="oi oi-calendar"></span> Calendário</a></li>
			<li><a th:href="@{/menu}"><span class="oi oi-home"></span> Menu</a></li>
		</ul>
		<script th:src="@{/js/menu/classie.js}"></script>
		<script th:src="@{/js/menu/gnmenu.js}"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</div><!-- /container -->
	
	
	<!--------------------------------------------------------------------------------------------------------->
	<div th:fragment="empresa" class="container">
		<ul id="gn-menu" class="gn-menu-main">
			<li class="gn-trigger">
				<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
				<nav class="gn-menu-wrapper">
					<div class="gn-scroller">
						<ul class="gn-menu">
							<li><a th:href="@{/estatistica}"><span class="oi oi-graph"></span> Estatística</a></li>
							<li><a th:href="@{/pagamento}"><span class="oi oi-credit-card"></span> Pagamentos</a></li>
							<li><a th:href="@{/funcionariosCadastrados}"><span class="oi oi-clipboard"></span> Funcionários</a>
							<li><a th:href="@{/cadastroFuncionario}"><span class="oi oi-plus"></span> Funcionário</a></li>
							<li><a th:href="@{/compras}"><span class="oi oi-cart"></span> Compras</a></li>
							<li><a th:href="@{/diaAberto}"><span class="oi oi-warning"></span> Dias Abertos</a></li>
						</ul>
					</div><!-- /gn-scroller -->
				</nav>
			</li>
			<li><a onclick="calculadora()"><span class="oi oi-calculator"></span> Calculadora</a></li>
			<li><a onclick="calendario()"><span class="oi oi-calendar"></span> Calendário</a></li>
			<li><a th:href="@{/menu}"><span class="oi oi-home"></span> Menu</a></li>
		</ul>
		<script th:src="@{/js/menu/classie.js}"></script>
		<script th:src="@{/js/menu/gnmenu.js}"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</div><!-- /container -->
	
	
	<!--------------------------------------------------------------------------------------------------------->
	<div th:fragment="opcoes" class="container">
		<ul id="gn-menu" class="gn-menu-main">
			<li class="gn-trigger">
				<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
				<nav class="gn-menu-wrapper">
					<div class="gn-scroller">
						<ul class="gn-menu">
							<li><a th:href="@{/sobre}"><span class="oi oi-cog"></span> Opções</a></li>
							<li><a th:href="@{/tutorial}"><span class="oi oi-info"></span> Tutorial</a></li>
							<li><a th:href="@{/empresa}"><span class="oi oi-folder"></span> Preferências</a></li>
						</ul>
					</div><!-- /gn-scroller -->
				</nav>
			</li>
			<li><a onclick="calculadora()"><span class="oi oi-calculator"></span> Calculadora</a></li>
			<li><a onclick="calendario()"><span class="oi oi-calendar"></span> Calendário</a></li>
			<li><a th:href="@{/menu}"><span class="oi oi-home"></span> Menu</a></li>
		</ul>
		<script th:src="@{/js/menu/classie.js}"></script>
		<script th:src="@{/js/menu/gnmenu.js}"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</div><!-- /container -->
	
	
<!--------------------------------------------------------------------------------------------------------->
	<footer th:fragment="footer">
		<!--<div class="row">
			<div class="col-md-4" align="left">				
				<table>
					<tr><td colspan="2"><h3>Suporte:</h3></td></tr>
					<tr>
						<td class="cw">William Jr</td>
						<td class="cw">(11) 96384-9111</td>
					</tr>
				</table>
			</div>
			
			<div class="col-md-4" align="center">
				<h3 class="cw">Siga-nos</h3><br>
				<a href="www.facebook.com/william.alfredgazaljunior">
				<button type="button" class="btn btn-primary">Facebook</button></a>
			</div>
			
			<div class="col-md-4" align="right">
				<br>
				<p class="cw" id="ano-atual"></p>
				<p class="cw">Todos direitos reservados</p>
			</div>
		</div>
		<br> -->
		
		<script th:src="@{/js/datas.js}"></script>
		<script th:src="@{/jquery/jquery.mask.min.js}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
		<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
		<script th:src="@{/js/pulaInput.js}"></script>
		<script th:src="@{/js/validacoes.js}"></script>
		<script th:src="@{/js/frag.js}"></script>
		<script th:src="@{/js/menu/classie.js}"></script>
		<script th:src="@{/js/menu/gnmenu.js}"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</footer>

<!--------------------------------------------------------------------------------------------------------->
</body>
</html>