<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="~{head}">

<!-- menu -->
<link th:href="@{/css/menu/normalize.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/menu/demo.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/menu/component.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/js/menu/modernizr.custom.js}"></script>

<meta charset="utf-8" lang="pt-br" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- jquery -->
<script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" rel="stylesheet" />
<link th:href="@{/jquery/jquery-ui.min.css}" rel="stylesheet" />

<!-- icones -->
<script src="https://kit.fontawesome.com/99986af71e.js"></script>
<link rel="sortcut icon" href="/img/iconePag.ico" type="image/x-icon" />

<!-- bootstrap v5 -->
<link th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/node_modules/bootstrap/dist/css/bootstrap-grid.min.css}" rel="stylesheet" />
<link th:href="@{/node_modules/bootstrap/dist/css/bootstrap-utilities.min.css}" rel="stylesheet" />

<!-- css -->
<link th:href="@{/css/estilo.css}" rel="stylesheet" />

</head>

<body>
	<!-- --------------------------------------------------------------------------------------------------- -->
	<div th:fragment="conquistaMenu" class="hiddenAndroid p-2"
		th:if="${mostrarConquistas} == true AND ${permissao} != 'MOTOBOY'">
		<h5>Complete as tarefas</h5>
		<div class="row">
			<div class="col-md-2" th:if="${cadEmpresa} == true">
				<i class="fas fa-check-circle colorGreen"></i>
			</div>
			<div class="col-md-2" th:if="${cadEmpresa} == false">
				<i class="fas fa-times-circle colorRed"></i>
			</div>
			<p class="col-md-10 card-text">Cadastre sua empresa</p>
		</div> <br>
		<div class="row">
			<div class="col-md-2" th:if="${cadProduto} == true">
				<i class="fas fa-check-circle colorGreen"></i>
			</div>
			<div class="col-md-2" th:if="${cadProduto} == false">
				<i class="fas fa-times-circle colorRed"></i>
			</div>
			<p class="col-md-10 card-text">Cadastre seu primeiro produto</p>
		</div> <br>
		<div class="row">
			<div class="col-md-2" th:if="${cadFuncionario} == true">
				<i class="fas fa-check-circle colorGreen"></i>
			</div>
			<div class="col-md-2" th:if="${cadFuncionario} == false">
				<i class="fas fa-times-circle colorRed"></i>
			</div>
			<p class="col-md-10 card-text">Cadastre seu primeiro funcionário</p>
		</div> <br>
		<div class="row">
			<div class="col-md-2" th:if="${cadPedido} == true">
				<i class="fas fa-check-circle colorGreen"></i>
			</div>
			<div class="col-md-2" th:if="${cadPedido} == false">
				<i class="fas fa-times-circle colorRed"></i>
			</div>
			<p class="col-md-10 card-text">Venda seu primeiro pedido</p>
		</div>
	</div>


	<!--------------------------------------------------------------------------------------------------------->
	<div th:fragment="dadosMenu" class="container"
		th:if="${permissao} != 'MOTOBOY'">
		<ul id="gn-menu" class="gn-menu-main">
			<li><a class="cabecalho gn-menu-top"><label
					class="hiddenAndroid" th:text="${empresa}"></label></a>
			<li><a th:if="${contato} != ''"
				class="cabecalho hiddenAndroid gn-menu-top"><label
					class="hiddenAndroid" th:text="${contato}"></label></a> <a
				th:href="@{/adm/empresa}" class="bg-warning gn-menu-top"
				th:unless="${contato} != ''">
					<button class="form-control btn btn-warning">Cadastre-se</button>
			</a></li>
			<li class="gn-menu-top"><a th:href="@{/logout}"><i
					class="fas fa-sign-out-alt"></i> Sair</a></li>
		</ul>
		<script th:src="@{/js/menu/classie.js}"></script>
		<script th:src="@{/js/menu/gnmenu.js}"></script>
		<script>
			new gnMenu(document.getElementById('gn-menu'));
		</script>
	</div>
	<!-- /container -->



	<!--------------------------------------------------------------------------------------------------------->
	<div th:fragment="inicio" class="container">
		<ul id="gn-menu" class="gn-menu-main">
			<li class="gn-trigger"><a
				class="gn-icon gn-icon-menu gn-menu-top"><span>Menu</span></a>
				<nav class="gn-menu-wrapper" th:if="${permissao} != 'MOTOBOY'">
					<div class="gn-scroller">
						<ul class="gn-menu">
							<li>
								<p class="bg-primary text-white">
									&nbsp;&nbsp;&nbsp;<b>Pedidos</b>
								</p> <a th:href="@{/u/verpedido}"><i
									class="fas fa-list"></i> Pedidos em aberto</a> <a
								th:href="@{/u/novoPedido}"><i
									class="fas fa-plus-circle"></i> Novo Pedido</a> <a
								th:href="@{/u/motoboy}"><i
									class="fas fa-location-arrow"></i> Entregar</a> <a
								th:href="@{/u/finalizar}"><i
									class="fas fa-hand-holding-usd"></i> Finalizar</a>
							</li>

							<li>
								<p class="bg-primary text-white">
									&nbsp;&nbsp;&nbsp;<b>Preparação</b>
								</p> <a th:href="@{/u/cozinha}"><i
									class="far fa-clock"></i> Cozinha</a> <a
								th:href="@{/u/produtosProntos}"><i
									class="far fa-eye"></i> Produtos prontos</a> <a
								th:href="@{/u/retirada}"><i
									class="fas fa-arrow-alt-circle-down"></i> Retirada</a>
							</li>

							<!-- ------------------------------------------------------------------------------------ -->
							<li>
								<p class="bg-primary text-white">
									&nbsp;&nbsp;&nbsp;<b>Resumo diário</b>
								</p> <a th:href="@{/u/pedidosFinalizados}"><i
									class="fas fa-th-list"></i> Pedidos Finalizados</a> <a
								th:href="@{/u/pedidosExcluidos}"><i class="fas fa-ban"></i>
									Pedidos Cancelados</a>
							</li>

							<li th:if="${permissao} != 'USUARIO'">
								<p class="bg-primary text-white">
									&nbsp;&nbsp;&nbsp;<b>Administração</b>
								</p> <a th:href="@{/adm/fechamento}"><i
									class="fas fa-cash-register"></i> Fechamento do Dia</a> <a
								th:href="@{/adm/compras}"><i class="fas fa-cart-plus"></i>
									Compras do dia</a>
							</li>

							<!-- ------------------------------------------------------------------------------------ -->
							<li>
								<p class="bg-primary text-white">
									&nbsp;&nbsp;&nbsp;<b>Clientes</b>
								</p> <a th:href="@{/f/clientesCadastrados}"><i
									class="fas fa-user-friends"></i> Cadastrados</a> <a
								th:href="@{/f/cadastroCliente}"><i class="fas fa-plus"></i>
									Cadastrar</a>
							</li>
							<li>
								<p class="bg-primary text-white">
									&nbsp;&nbsp;&nbsp;<b>Produtos</b>
								</p> <a th:href="@{/f/produtosCadastrados}"><i
									class="fas fa-utensils"></i> Cadastrados</a> <a
								th:href="@{/f/cadastroProduto}"><i class="fas fa-plus"></i>
									Cadastrar</a>
							</li>

							<li th:if="${permissao} != 'USUARIO'">
								<p class="bg-primary text-white">
									&nbsp;&nbsp;&nbsp;<b>Funcionários</b>
								</p> <a th:href="@{/adm/pagamento}"><i
									class="far fa-credit-card"></i> Pagamentos</a> <a
								th:href="@{/adm/funcionariosCadastrados}"><i
									class="fas fa-user-tie"></i> Cadastrados</a> <a
								th:href="@{/adm/cadastroFuncionario}"><i class="fas fa-plus"></i>
									Cadastrar</a>
							</li>

							<!-- ------------------------------------------------------------------------------------ -->
							<li th:if="${permissao} != 'USUARIO'">
								<p class="bg-primary text-white">
									&nbsp;&nbsp;&nbsp;<b>Gráficos</b>
								</p> <a th:href="@{/adm/estatistica}"><i
									class="fas fa-chart-bar"></i> Estatística</a> <a
								th:href="@{/adm/metas}"><i class="fas fa-award"></i> Metas</a>
							</li>

							<li th:if="${permissao} != 'USUARIO'">
								<p class="bg-primary text-white">
									&nbsp;&nbsp;&nbsp;<b>Dados</b>
								</p> <!--<a th:href="@{/adm/cupom}"><i class="fas fa-tag"></i> Cupom</a> -->
								<a th:href="@{/adm/empresa}"><i class="fas fa-database"></i>
									Empresa</a> <a th:href="@{/adm/mensalidade}"><i
									class="fas fa-receipt"></i> Mensalidade</a>
							</li>
						</ul>
					</div>
					<!-- /gn-scroller -->
				</nav></li>
			<li><a class="cabecalho gn-menu-top"><label
					class="hiddenAndroid" id="nomePagina">Página</label></a></li>
			<li><a class="gn-menu-top" th:href="@{/menu}"><i
					class="fas fa-home"></i> Menu</a></li>
		</ul>
		<script th:src="@{/js/menu/classie.js}"></script>
		<script th:src="@{/js/menu/gnmenu.js}"></script>
		<script>
			new gnMenu(document.getElementById('gn-menu'));
		</script>
	</div>
	<!-- /container -->

	<!--------------------------------------------------------------------------------------------------------->
	<footer th:fragment="footer">
		<!-- menu -->
		<script th:src="@{/js/menu/classie.js}"></script>
		<script th:src="@{/js/menu/gnmenu.js}"></script>
		<script>new gnMenu(document.getElementById('gn-menu'));</script>

		<!-- jquery -->
		<script th:src="@{/jquery/jquery.mask.min.js}"></script>
		<script th:src="@{/jquery/jquery-ui.min.js}"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
		<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

		<!-- bootstrap -->
		<script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
		<script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

		<!-- javascript -->
		<script th:src="@{/js/validacoes.js}"></script>
	</footer>


	<!-- ---------------------------------------------------------------------------------------------- -->

</body>
</html>