<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="head" >
    <meta charset="utf-8" lang="pt-br"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
	<link href="/css/bootstrap.css" rel="stylesheet"/>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>	
	<link href="/css/bootstrap-theme.css" rel="stylesheet"/>
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/css/estilo.css" rel="stylesheet"/>
    <script src="scripts/seu-script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    
</head>

<!--------------------------------------------------------------------------------------------------------->
<body>
	<div th:fragment="msgEnviado" class="divbaseForm alert alert-primary" role="alert" th:if="${!#strings.isEmpty(mensagem)}" style="background-color: #aad450">
		<span th:text="${mensagem}"></span>
	</div>
<!-- --------------------------------------------------------------------------------------------------- -->
	
<!-- ---------------------------------------------------------------------------------------------------- -->
	

</body>
</html>
