<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Dias Abertos</title></head>

<body>
	
	<div class="divbase">
		<h1 class="h1Logo">Dias Abertos <button class="btn btn-link" onclick="aviso()"><span class="oi oi-question-mark"></span></button></h1>
		
		<hr>
		
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="text-center col-md-1"><h3>{}</h3></th>
						<th class="text-center col-md-1"><h3>Dia</h3></th>
						<th class="text-center col-md-1"><h3>Troco Inicial</h3></th>
						<th class="text-center col-md-1"><h3>Troco Final</h3></th>
					</tr>
				</thead>
				
				<tbody id="todosFuncionarios"></tbody>
			</table>
		</div>
	</div>
	
	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/diaAberto.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: empresa}"></div>
</html>