	/*overlay: hidden;
	 cor do logo #00ffbb*/
* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman";
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

#mostrar, #mostrarProdutos, #atualizarPedido, .mostrarPedidos{
	display: none;
}
	
a[accesskey]:after, button[accesskey]:after, input[accesskey]:after,
label[accesskey]:after, legend[accesskey]:after, textarea[accesskey]:after {
    margin-left: 0.3em;
    content: "[" attr(accesskey) "]";
    }
    
body{
	background-color: #0069c1; /*cor de fundo*/
}

header{
	/*background-color: white;**/
}

footer{
	width: 100%;
	background-color: #333;
	border-top: 2px solid black;	
	position: relative;
	height: 150%;
	left:0;
	bottom:0;
	margin-left: 0;
}

a{
	background-color: #333;
}
table{
	border-collapse: separate;
}

thead{
	background-color: #253b80;	
}
	
ul {
  	list-style-type: none;
  	overflow: hidden;
  	background-color: #333;
  	z-index: 2;
}

th h3, td h3, th h5, th h4{
	color: white;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 3;
}
.Dropdown:hover .dropdown-content {
    display: block;
}

li a {
  	display: block;
  	color: white;
  	text-align: center;
  	text-decoration: none;
}

li a:hover {
  	background-color: #107b11; /*cor verde do menu*/
  	color: white;
}

table thead tr th{
	text-align: center;
}

table tbody tr td{
	/*background-color: white;*/
	text-align: center;
	padding: .5vh;
}

tr td:last-child{
    width:1%;
    white-space:nowrap;
}
/*-------------------------------------*/
.centralizar{
	text-align: center;
}

.fundoList{
	background-color: #D3D3D3;
}

/*WIDTH---------------------------------*/
.img {
    max-width:50px;
    max-height:30px;
    width: auto;
    height: auto;
    padding: 2px;
}

.logo {
    max-width:60%;
    max-height:40%;
    width: auto;
    height: auto;
}

.logoTitulo {
    max-width:10%;
    width: auto;
    margin-left: 10vh
}
img{
	width: 35px;
}

/*TITULO---------------------------------*/

.h1Logo{
	text-align: center; 
	/*font-size: 45px;
	border-bottom: 2px solid black;*/
}

.sobre{
	text-align: left; 
	margin-left: 40%;
}

.elemento{
	position: absolute;
	top: 70%;
	left: 50%;
	height: 70vh;
	transform: translate(-50%, -50%);
}

.cw{
	color: white;
}

/*MENU---------------------------------*/
.menu{
	border-bottom: 1px solid black;
}
	
.menu1 li{
		float: none;
	}
	
.menu1 li a{
	padding: 3vh;
}   

#logoMenu{
	background-color: white;
	width: 100%;
}
@media (max-width:768px){
	.menu li{
		float: none;
	}
	
	#menuPrincipal{
		display:none;
	}
	
	#menuButton{
		display: block;
	}
	.dataMenu{
		display:none;
	}
}

@media ( min-width: 769px ){
	.menu li{
		float:left;
	}
	
	#menuPrincipal{
		display: block;
	}
	
	#menuButton{
		display: none;
	}
}

#fb{
	background-color: #333;
}
.posicaoMenu{
	float: left;
	position: absolute;
}
.menu li a{
	padding:5px 10px;
}

.menu li ul{
	position:absolute; 
	display:none;
}   

.menu li ul li{
	display:block; 
	width:150px;
}

.menu li:hover ul, .menu li.over ul {
	display:block;
}

.menu li a:hover{
	-moz-box-shadow:0 3px 10px 0 #ccc; 
	-webkit-box-shadow:0 3px 10px 0 #ccc; 
	text-shadow:0px 0px 5px #fff; 
}

a:link{
	text-decoration: none;
}

.active {
  	background-color: #107b11;
}

.divbase {
	margin-left: 1vh; 
	margin-right: 1vh; 
	background-color: white; 
	border: 1px solid black;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 1vh;
}

.divbaseForm {
	margin-left: 2vh; 
	margin-right: 2vh; 
	background-color: #ececec; 
	border: 1px solid black;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 5vh;
}

.fRight{
	float: right;
}

.fLeft{
	float: left;
}

.w100{
	width: 100%;
}

.textIndent{
	text-indent: 10px;
}

#dados{
    margin-bottom: 0px;
}

.sombra{
	background-color: #D3D3D3;
}

h3{
	text-align: center;
}
.form-contact-button {
  	width: 100%;
  	font-size: 22px;
  	border-radius: 4px;
  	color: #fff;
  	height: 40px;
  	opacity: .8;
  	margin-bottom: 20px;
  	cursor: pointer;
  	background: green;
  	display: block;
  	border: none;
  	border-bottom: 1px solid #500707;
  	border-right: 1px solid #500707;
  	transition: 1s;
}

.form-contact-button:hover {
  	opacity: 1;
}
