* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman";
}

body{
  background-color: black;
}

li{
	border-bottom: 1px solid #B0C4DE;
	padding: 10px;
}

li:hover{
	background-color: #333;
}

li a{
	color: black;
	font-size: 20px;
  	display: block;
}

a:hover{
	color:white;
	text-decoration: none;	
}
.row{
	margin-right: 0px;
	margin-left: 0px;
}

.bw{
	border-top: 3px dotted white;
	background-color: #333;
}
.titulo{
	color: white;	
}

.menu{
  height: 80vh;
  padding: 3vh;
}
 
.menuLateral{
  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
}

.cardapio{
  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
  height: 100%;
  overflow: scroll;
}

.mesa{
	float: left;
	position: absolute;
	left: 0;
}
.carrinho{
	float: right; 
	position: absolute;
	right: 0;
}

.carrinho, .mesa{
	background-color: transparent;
	color: white;
	border: none;
	padding: 5px;
}

#menuOp{
	border-bottom: 2px solid black;
	font-size: 20px;
}