<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Cadastrar Cliente</title></head>

<body>
	
	<div class="divbaseForm">
		<br>
		
		<input type="hidden" id="id" name="id"/>
		<input type="hidden" id="idEnd" name="idEnd"/>
		<input type="hidden" id="contPedidos" name="contPedidos"/>
		<input type="hidden" id="dataCadastro" name="dataCadastro"/>
		<input type="hidden" id="validCpf" name="validCpf" value="1"/>
		<input type="hidden" id="validCel" name="validCel" value="1"/>
		<input type="hidden" id="senha" value=""/>

		<div id="dados"></div>
		<hr>
		
		<div class="form-group">
			<label for="file">Nome Completo: <span class="alertOpcional">*</span></label><br>
			<input type="text" class="form-control pula" id="nome" name="nome" placeholder="Informe o Nome Completo" autofocus="autofocus"/>
		</div>
		
		<br>
		<div class="form-group" id="divCpf">
			<label>CPF:</label><br>
			<p id="avisoCpf">Cpf já cadastrado, tente outro!</p>
			<input type="text" class="form-control pula cpf" id="cpf" name="cpf" placeholder="Informe o CPF"/>
		</div>
		
		<br>
		<div class="form-group">
			<label>Celular: <span class="alertOpcional">*</span></label><br>
			<p id="avisoCel">Celular já cadastrado, tente outro!</p>
			<input type="tel" class="form-control pula cel" id="cel" name="celular" placeholder="Informe o Celular"/>
		</div>
		
		
		<br>
		<h3>Endereço:</h3>
		<br><br>
		<!-- ----------------------------------------------------------------------------- -->
		<div class="row">
	  		<div class="col-md-2">
			   	<div class="form-group">
			        <label>CEP</label><br>
	      			<input type="text" class="form-control pula cep" id="cep" name="cep" maxlength="12" placeholder="00000000">
			    </div>
	  		</div>
	  		
	  		<div class="col-md-8">
			   <div class="form-group">
			       <label>Rua: <span class="alertOpcional">*</span></label><br>
	      		   <input type="text" class="form-control pula" id="rua" name="rua" placeholder="Informe a Rua">
			    </div>
	  		</div>
	  		
	  		<div class="col-md-2">
			   <div class="form-group">
			       <label>Nº: <span class="alertOpcional">*</span></label><br>
	      		   <input type="number" class="form-control pula" id="n" name="n" placeholder="número">
			    </div>
	  		</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<label><br>Bairro: <span class="alertOpcional">*</span></label><br>
				<input type="text" class="form-control pula" id="bairro" name="bairro" placeholder="Informe o bairro"/>  
			</div>
			
			<div class="col-md-6">
				<label><br>Cidade: <span class="alertOpcional">*</span></label><br>
				<input type="text" class="form-control pula" id="cidade" name="cidade" placeholder="Informe a cidade"/> 
			</div>
		</div>
		<br>
		<div class="form-group">
			<label>Taxa de entrega: <span class="alertOpcional">*</span></label><br>
			<input type="text" class="form-control pula preco" id="taxa" name="taxa" placeholder="Informe a taxa de Entrega"/>
		</div> 
		<br>
		<div class="form-group">
			<label>Referência da casa:</label><br>
			<textarea class="form-control" id="referencia" name="referencia" rows="5" placeholder="Informe a referência da casa"></textarea>  
		</div>
		<br>
		<button type="button" id="enviar" class="btn btn-success pula">Cadastrar</button>  
	</div>
	
	<br>
	<div class="justify-content-center loading">
  		<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
  		</div>
	</div>
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>

	<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
	<script th:src="@{/js/buscaCep.js}"></script>
	<script th:src="@{/js/validCpfCliente.js}"></script>
	<script th:src="@{/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/js/clientes/cadastroCliente.js}"></script>
	<script th:src="@{/js/pulaInput.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: cadastros}"></div>
</html>