<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Cadastrar Produto</title></head>

<body>

	<div class="divbaseForm">
		<br>
		
		<input type="hidden" id="id" name="id"/>
		<input type="hidden" id="validCod" name="validCod" value="1"/>
		
		<br>
		<div class="row">
			<div class="col-md-6">
				<label>Nome do produto: <span class="alertOpcional">*</span></label><br>
				<input type="text" class="form-control pula" id="nome" placeholder="Nome do produto" autofocus="autofocus" />
			</div>
			
			<div class="col-md-6">
				<label>Código de busca: <span class="alertOpcional">*</span><button class="btn btn-link p-0" onclick="aviso()"><i class="fas fa-question"></i></button></label>
				<p id="avisoCod">Código já cadastrado, tente outro!</p>
				<input type="text" class="form-control pula" id="codigoBusca" placeholder="Código de busca"/>
			</div>
		</div>
		
		<br>
		<div class="row">
			<div class="col-md-6">
				<label>Preço: (tam. Médio - padrão) M <span class="alertOpcional">*</span></label><br>
				<div class="input-group mb-3">
					<span class="input-group-text">R$</span>
					<input class="form-control preco pula" id="precoM" placeholder="Preço do produto médio"/>
				</div>
			</div>
			<div class="col-md-6">
				<label>Custo: (tam. Médio - padrão) M <span class="alertOpcional">*</span></label><br>
				<div class="input-group mb-3">
					<span class="input-group-text">R$</span>
					<input class="form-control preco pula" id="custoM" placeholder="Total em custo médio"/>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label>Setor: <span class="alertOpcional">*</span><button class="btn btn-link p-0" onclick="aviso1()"><i class="fas fa-question"></i></button></label>
			<select class="form-control" id="setor" required>
				<option value="PIZZA">Pizza</option>
				<option value="BORDA">Borda</option>
				<option value="BEBIDA">Bebida</option>
				<option value="LANCHE">Lanche</option>
				<option value="ESFIHA">Esfiha</option>
				<option value="PASTEL">Pastel</option>
				<option value="PORCAO">Porção</option>
				<option value="OUTROS">Outros</option>
			</select>
		</div>
		
		<br>
		<div class="form-check form-switch">
		  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked disponivel" checked>
		  <label class="form-check-label" for="flexSwitchCheckChecked">Disponivel para venda? (Altere sempre que necessário).
			 <button class="btn btn-link p-0" onclick="aviso2()"><i class="fas fa-question"></i></button></label>
		</div>
		
		<div class="form-group">
			<label>Descrição do produto: <button class="btn btn-link p-0" onclick="aviso3()"><i class="fas fa-question"></i></button></label>
			<textarea class="form-control" id="descricao" rows="5" placeholder="Descrição do produto"></textarea>  
		</div>
		
		<hr>
		<h3>Tamanhos opcionais</h3>
		<div class="row">
			<div class="row col-md-6">
				<div class="col-md-6">
					<label>Preço: (tam. Pequeno) P</label><br>
					<div class="input-group mb-3">
						<span class="input-group-text">R$</span>
						<input class="form-control preco pula" id="precoP" placeholder="Preço do produto pequeno"/>
					</div>
				</div>
				<div class="col-md-6">
					<label>Custo: (tam. Pequeno) P</label><br>
					<div class="input-group mb-3">
						<span class="input-group-text">R$</span>
						<input class="form-control preco pula" id="custoP" placeholder="Total em custo pequeno"/>
					</div>
				</div>
			</div>
			<div class="row col-md-6">
				<div class="col-md-6">
					<label>Preço: (tam. Grande) G</label><br>
					<div class="input-group mb-3">
						<span class="input-group-text">R$</span>
						<input class="form-control preco pula" id="precoG" placeholder="Preço do produto grande"/>
					</div>
				</div>
				<div class="col-md-6">
					<label>Custo: (tam. Grande) G</label><br>
					<div class="input-group mb-3">
						<span class="input-group-text">R$</span>
						<input class="form-control preco pula" id="custoG" placeholder="Total em custo grande"/>
					</div>
				</div>
			</div>
		</div>
		<hr>
		
		<br>
		<button type="button" class="btn btn-success pula" id="enviar">Cadastrar</button>
	</div>
	
	<br>
	<div class="justify-content-center loading">
  		<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
  		</div>
	</div>
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	
	<script th:src="@{/js/produtos/cadastroProduto.js}"></script>
	<script th:src="@{/js/validCodProduto.js}"></script>
	<script th:src="@{/js/pulaInput.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: inicio}"></div>
</html>