<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/header :: head}" ></head>
<head><title>Cadastrar Funcionário - Ibiti das Pizzas</title></head>

<body>
	<header th:replace="~{layouts/header :: cadastros}"></header>
				
	<div class="divbaseForm">
			
		<br>
		<h1 class="h1Logo">Cadastrar Funcionário</h1><br/>
			
			<input type="hidden" id="id" name="id"/>
			
			<br>
			<div class="form-group">
				<label>Nome Completo:<br/></label>
				<input type="text" class="form-control pula" id="nome" name="nome" placeholder="Nome Completo"  autofocus="autofocus" required/>  
			</div>
			
			<div class="form-group">
				<label>E-mail:<br/></label>
				<input type="email" class="form-control pula" id="email" name="email" placeholder="nome@exemplo.com" required/>
			</div>
			
			<div class="form-group">
				<label >Data de nascimento:<br/></label>
				<input type="date" class="form-control pula" id="nascimento" name="nascimento" placeholder="dd/mm/aaaa" required/>
			</div>
			
			<div class="form-group" id="divCpf">
				<label>CPF:<br/></label>
				<p id="avisoCpf">Cpf já cadastrado, tente novamente!</p>
				<input type="text" class="form-control pula cpf" id="cpf" name="cpf" placeholder="CPF" required/>
			</div>
			
			<br/>
			<div class="form-group">
				<label>celular:<br/></label>
				<p id="avisoCel">Celular já cadastrado, tente novamente!</p>
				<input type="tel" class="form-control pula cel" id="cel" name="celular" placeholder="Celular xx-xxxxx-xxxx " required/> 
			</div>
			
			<div class="form-group">
				<label for="cargo">Cargo:<br></label>
				<select class="form-control pula" id="cargo" name="cargo" required>
					<option value="ATENDIMENTO">Atendimento</option>
					<option value="MOTOBOY">Motoboy</option>
					<option value="COZINHA">Cozinha</option>
					<option value="PIZZAIOLO">Pizzaiolo</option>
					<option value="FORNEIRO">Forneiro</option>
					<option value="REPOSITOR">Repositor</option>
					<option value="GERENTE">Gerente</option>
					<option value="MARKETING">Marketing</option>
					<option value="ANALISTA">Analista</option>
					<option value="AUXILIARCOZINHA">Auxiliar de cozinha</option>
					<option value="AUXILIARPIZZAIOLO">Auxiliar de pizzaiolo</option>
					<option value="MENORAPRENDIZ">Menor Aprendiz</option>
				</select>
			</div>
			
			<div class="form-group">
				<label>Sexo:<br/></label>
				<select class="form-control pula" id="sexo" name="sexo" required>
					<option value="MASCULINO">Masculino</option>
					<option value="FEMINIMO">Feminino</option>
				</select>
			</div>
			
			<h3><br/>Endereço:<br/><br/></h3>
			
			<div class="col-md-2">
			   	<div class="form-group">
			        <label>CEP</label>
	      			<input type="text" class="form-control pula" id="cep" maxlength="12" name="endereco.cep" placeholder="Informe o CEP">
			    </div>
	  		</div>
	  		
		  	<div class="form-row">
		  		<div class="col-md-8">
				   <div class="form-group">
				       <label>Rua</label>
		      		   <input type="text" class="form-control pula" id="rua" name="rua" placeholder="Informe a Rua" required>
				    </div>
		  		</div>
		  		<div class="col-md-2">
				   <div class="form-group">
				       <label>Nº</label>
		      		   <input type="text" class="form-control pula" id="n" name="n" placeholder="Informe o Número" required>
				    </div>
		  		</div>
		  	</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label><br/>Bairro:<br/></label>
					<input type="text" class="form-control pula" id="bairro" name="bairro" placeholder="Informe o bairro" required/>  
				</div>
				
				<div class="form-group col-md-6">
					<label><br/>Cidade:<br/></label>
					<input type="text" class="form-control pula" id="cidade" name="cidade" placeholder="Informe a cidade" value="Sorocaba" required/> 
				</div>
			</div>
			
			
			
			<div class="form-group">
				<label>Referência da casa:<br/></label>
				<textarea class="form-control pula" id="referencia" name="referencia" placeholder="Referência da casa"></textarea>  
			</div>
			
			<h3>Pagamento:</h3>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Data de admissão:<br/></label>
					<input type="date" class="form-control pula" id="admissao" name="admissao" placeholder="dd/mm/aaaa" required/>
				</div>
				
				<div class="form-group col-md-6">
					<label>Dia pagamento:<br/></label>
					<input type="number" class="form-control pula" id="diaPagamento" name="diaPagamento" placeholder="Dia pagamento" min="1" max="31" required/>
				</div>
			</div>
			
			<div class="form-group">
				<label>Salário:<br/></label>
				<input type="number" class="form-control pula" id="salario" name="salario" placeholder="Salário" required/>
			</div>	

			<br>				
			<div class="form-group">
				<input type="color" name="favcor" value="#0000FF">
			</div>
			
			<div class="custom-file">
			  	<input type="file" class="">
			</div>
			
			<br>
			<button type="button" id="enviar" class="form-contact-button" name="enviar">Enviar</button>  
			<button type="button" id="atualizar" class="form-contact-button" name="enviar">Atualizar</button>  
	</div>
	
	<br>
	<footer th:replace="~{layouts/header :: footer}"></footer>
	
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
	<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
	<script th:src="@{/js/buscaCep.js}"></script>
	<script th:src="@{/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/js/validCpfFuncionario.js}"></script>
	<script th:src="@{/js/funcionarios/cadastroFuncionario.js}"></script>
</body>
</html>