<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Cadastrar Cliente</title></head>

<body>
	
	<div class="divbaseForm">
			
		<h1 class="h1Logo">Cadastrar Cliente</h1><br/>
		<hr>
		
		<input type="hidden" id="id" name="id"/>
		<input type="hidden" id="idEnd" name="idEnd"/>
		<input type="hidden" id="contPedidos" name="contPedidos"/>
		<input type="hidden" id="dataCadastro" name="dataCadastro"/>

		<br>
		<div class="form-group">
			<label for="file">Nome Completo:<br/></label>
			<input type="text" class="form-control pula" id="nome" name="nome" placeholder="Nome Completo" autofocus="autofocus"/>
		</div>
		
		<div class="form-group" id="divCpf">
			<label>CPF: (opcional)<br/></label>
			<p id="avisoCpf">Cpf já cadastrado, tente outro!</p>
			<input type="text" class="form-control pula cpf" id="cpf" name="cpf" placeholder="CPF"/>
		</div>
		
		<div class="form-group">
			<label>Celular:<br/></label>
			<p id="avisoCel">Celular já cadastrado, tente outro!</p>
			<input type="tel" class="form-control pula cel" id="cel" name="celular" placeholder="Celular"/>
		</div>
		
		<h3><br/>Endereço:<br/><br/></h3>
		
		<!-- ----------------------------------------------------------------------------- -->
	
  		<div class="col-md-2">
		   	<div class="form-group">
		        <label>CEP</label>
      			<input type="text" class="form-control pula cep" id="cep" name="cep" maxlength="12" placeholder="Informe o CEP">
		    </div>
  		</div>
  		
	  	<div class="form-row">
	  		<div class="col-md-8">
			   <div class="form-group">
			       <label>Rua</label>
	      		   <input type="text" class="form-control pula" id="rua" name="rua" placeholder="Informe a Rua">
			    </div>
	  		</div>
	  		<div class="col-md-2">
			   <div class="form-group">
			       <label>Nº</label>
	      		   <input type="text" class="form-control pula" id="n" name="n" placeholder="Informe o Número">
			    </div>
	  		</div>
	  	</div>
		
		<div class="form-row">
			<div class="form-group col-md-6">
				<label><br/>Bairro:<br/></label>
				<input type="text" class="form-control pula" id="bairro" name="bairro" placeholder="Informe o bairro"/>  
			</div>
			
			<div class="form-group col-md-6">
				<label><br/>Cidade:<br/></label>
				<input type="text" class="form-control pula" id="cidade" name="cidade" placeholder="Informe a cidade" value="Sorocaba"/> 
			</div>
		</div>
		
		<div class="form-group">
			<label><br/>Taxa de entrega:<br/></label>
			<input type="text" class="form-control pula preco" id="taxa" name="taxa" placeholder="Taxa de Entrega"/>
		</div> 
		
		<div class="form-group">
			<label>Referência da casa:<br/></label>
			<textarea class="form-control" id="referencia" name="referencia" rows="5" placeholder="Referência da casa"></textarea>  
		</div>
		
		<button type="button" id="enviar" class="form-contact-button pula">Cadastrar</button>  
	</div>
	
	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>

	<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
	<script th:src="@{/js/buscaCep.js}"></script>
	<script th:src="@{/js/validCpfCliente.js}"></script>
	<script th:src="@{/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/js/clientes/cadastroCliente.js}"></script>
	<script th:src="@{/js/pulaInput.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: cadastros}"></div>
</html>