<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/header :: head}" ></head>
<head><title>Cadastrar Produto - Ibiti das Pizzas</title></head>

<body>
	<header th:replace="~{layouts/header :: cadastros}"></header>

	<div class="divbaseForm">
		
		<br>
		<h1 class="h1Logo">Cadastrar Produto</h1><br/>
		
		<input type="hidden" id="id" name="id"/>
		
		<br>
		<div class="form-group">
			<label>Código de busca:<br/></label>
			<input type="text" class="form-control" id="codigoBusca" name="codigoBusca" placeholder="Código de busca" autofocus="autofocus" required/>
		</div>
		
		<div class="form-group">
			<label>Nome do produto:<br/></label>
			<input type="text" class="form-control" id="nomeProduto" name="nomeProduto" placeholder="Nome do produto" required/>
		</div>
		
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>Preço:<br/></label>
				<input type="text" class="form-control" id="preco" name="preco" placeholder="Preço" required/>
			</div>
			<div class="form-group col-md-6">
				<label>Estoque(opcional):<br/></label>
				<input type="number" class="form-control" id="estoque" name="estoque" placeholder="Total em estoque" value="0" min="0" max="1000" />
			</div>
		</div>
		
		<div class="form-group">
			<label>Setor:<br/></label>
			<select class="form-control" id="setor" name="setor" required>
				<option value="PIZZA">Pizza</option>
				<option value="REFRIGERANTE">Refrigerante</option>
				<option value="PASTEL">Pastel</option>
				<option value="PANQUECA">Panqueca</option>
				<option value="HAMBURGUER">Hambúrguer</option>
				<option value="OUTROS">Outros</option>
				<option value="INGREDIENTE">Ingrediente</option>
			</select>
		</div>
		
		<br>
		<div class="form-group">
			<label>Descrição do produto:<br/></label>
			<textarea class="form-control" id="descricao" name="descricao" rows="5" placeholder="Descrição do produto" ></textarea>  
		</div>
		
		<br>
		<button type="button" class="form-contact-button" id="enviar" name="enviar">Enviar</button>  
		<button type="button" class="form-contact-button" id="atualizar" name="enviar">Atualizar</button>  
	</div>
	
	<br>
	<footer th:replace="~{layouts/header :: footer}"></footer>
	
	<script th:src="@{/js/produtos/cadastroProduto.js}"></script>
</body>
</html>