<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Compras</title></head>

<body>
	
	<div class="divbase">
		<h1 class="h1Logo">Compras <button onclick="aviso()" class="btn btn-link"><span class="oi oi-question-mark"></span></button></h1>
		
		<hr>
		<div class="row">
			<div class="col-md-6">
				<label><b>Nome:</b></label>
				<input class="form-control pula" id="produto" placeholder="Digite o nome do produto" autofocus/>
			</div>
			
			<div class="col-md-6">
				<label><b>Preço:</b></label>
				<div class="input-group mb-3">
					<span class="input-group-text">R$</span>
					<input class="form-control preco pula" id="preco" name="preco" placeholder="Digite o preco do produto"/>
				</div>
			</div>
		</div><hr>
		<br>
		
		<button class="btn btn-success fRight pula" id="salvar" onclick="salvar()">Salvar compras</button>
	</div>
	
	<br>
	<div class="divbase">
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="text-center col-md-1"><h4>Produto</h4></th>
						<th class="text-center col-md-1"><h4>Preço</h4></th>
					</tr>
				</thead>
				
				<tbody id="compras"><tr><td colspan="2">Nenhuma compra feita nessa data</td></tr></tbody>
			</table>
		</div>
		
		<br>
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="text-center col-md-1"><h4>Total</h4></th>
					</tr>
				</thead>
				
				<tbody id="total"><tr><td><p>R$ 0.00</p></td></tr></tbody>
			</table>
		</div>
	</div>
	<br>
	<div class="justify-content-center loading">
  		<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
  		</div>
	</div>
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/compras.js}"></script>
	<script th:src="@{/js/pulaInput.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: adm}"></div>
</html>