<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}"></head>
<head>
<title>Bar</title>
</head>

<body>
	<div class="divbase">
		<br>
		<div class="alert alert-success hidden" role="alert"
			id="alertaPedidos">novos pedidos!</div>

		<div class="col-md-4">
			<audio id="audio" src="/audio/novoPedido.mp3"></audio>
			<button class="btn btn-warning hidden" id="ativarAudio">
				<i class="fas fa-play"></i> Ativar som de pedidos novos
			</button>
		</div>
		<div class="row">

			<div class="col-md-4">
				<label>Envio</label><br> <select name="filtro" id="filtro">
					<option value="TODOS">Todos</option>
					<option value="ENTREGA">Entrega</option>
					<option value="BALCAO">Balcão</option>
					<option value="MESA">Mesa</option>
					<option value="DRIVE">Drive-thru</option>
				</select>

				<button onclick="filtrar()" class="btn btn-primary">Filtrar</button>
			</div>

			<div class="col-md-4">
				<label></label> <input id="totalPizzas"
					class="form-control text-center" readonly />
			</div>

			<div class="col-md-4">
				<label>Setor</label><br> <select id="setor">
					<option value="PIZZA">Pizza</option>
					<option value="BEBIDA">Bebida</option>
					<option value="LANCHE">Lanche</option>
					<option value="PORCAO">Porção</option>
					<option value="OUTROS">Outros</option>
				</select>

				<button onclick="filtrar()" class="btn btn-primary">Filtrar</button>
			</div>
		</div>

		<br>
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th class="text-center col-md-1"><h3>Cliente</h3></th>
						<th class="text-center col-md-1"><h3>Produto</h3></th>
						<th class="text-center col-md-1"><h3>Obs</h3></th>
						<th class="text-center col-md-1" id="colBorda"><h3>Borda</h3></th>
						<th class="text-center col-md-1"></th>
					</tr>
				</thead>
				<tbody id="todosPedidos">
					<tr>
						<td colspan="6">Nenhum pedido a fazer!</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<br>
	<div class="justify-content-center loading">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>

	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/cozinha.js}"></script>

	<!-- dwr ajax 
	<script type='text/javascript' th:src="@{/dwr/engine.js}"></script>
  	<script type='text/javascript' th:src="@{/dwr/interface/DwrAlertaPedidos.js}"></script>
  	<script type='text/javascript' th:src="@{/dwr/util.js}"></script>-->
</body>

<div th:replace="~{layouts/frag :: inicio}"></div>
</html>