<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/header :: head}" ></head>
<head><title>Cozinha - Ibiti das Pizzas</title></head>

<body>
	<header th:replace="~{layouts/header :: logo}"></header>
	
	<div class="divbase">
		
		<h1 class="h1Logo">Cozinha</h1>
		
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="col-md-6"><h4>Total pedidos</h4></th>
						<th class="col-md-6"><h4>Total pizzas</h4></th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td id="Tpedidos"></td>
						<td id="Tpizzas"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<br>
		<div>
			<label for="filtro">Filtrar:</label>
				<select name="filtro" id="filtro" >
					<option value="op">Todos</option>
					<option value="op">Entrega</option>
					<option value="op">Balcão</option>
				</select>
		</div>
		
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="text-center col-md-1"><h3>{}</h3></th>
						<th class="text-center col-md-1"><h3>Nome</h3></th>
						<th class="text-center col-md-1"><h3>Borda</h3></th>
						<th class="text-center col-md-1"><h3>Qtd</h3></th>
						<th class="text-center col-md-2"><h3>Sabor</h3></th>
						<th class="text-center col-md-2"><h3>Obs</h3></th>
						<th class="text-center col-md-1"><h3>Pronto</h3></th>
					</tr>
				</thead>
					
				<tbody id="todosPedidos"></tbody>
			</table>
		</div>
	</div>
	
	<br><br><br><br><br><br><br><br><br><br>
	<footer th:replace="~{layouts/header :: footer}"></footer>
	<script th:src="@{/js/cozinha.js}"></script>
</body>
</html>