<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="/layouts/header :: head" ></head>
<head><title>Cozinha - Ibiti das Pizzas</title></head>

<body>
	<header th:replace="/layouts/header :: logo"></header>
	
	<br>
	<div class="divbase">
		
		<h1 class="h1Logo">Cozinha</h1>
		
		<br>
		<div class="table-responsive">
			<table class="table-responsive">
				<thead>
					<tr>
						<th class="col-md-6"><h4>Com borda</h4></th>
						<th class="col-md-6"><h4>Sem borda</h4></th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td>5</td>
						<td>7</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<br>
		<div>
			<label for="filtro">Filtrar:</label>
				<select name="filtro" id="filtro" >
					<option value="op">Todos</option>
					<option value="op">Entrega</option>
					<option value="op">Balcão</option>
				</select>
			<br><br>
		</div>
		
		<div class="table-responsive">
		<table>
			<thead>
				<tr>
					<th class="text-center col-md-1"><h3>#</h3></th>
					<th><h3>Nome</h3></th>
					<th><h3>Borda recheada</h3></th>
					<th><h3>Tamanho</h3></th>
					<th><h3>Sabor</h3></th>
					<th><h3>Obs</h3></th>
					<th class="text-center col-md-1"><h3>Pronto</h3></th>
				</tr>
			</thead>
				
			<tbody>
				<tr>
					<td>1</td>
					<td>William Junior</td>
					<td>Borda Catupiry</td>
					<td>Inteira</td>
					<td>Mussarela</td>
					<td>Sem tomate</td>
					<td><button type="button" class="btn btn-success">Enviar</button></td>
				</tr>
								
				<tr>
					<td class="fundoList" colspan="7">&nbsp;</td>
				</tr>
							
				<tr>
					<td>2</td>
					<td>Nicolas</td>
					<td>Sem borda</td>
					<td>Meia</td>
					<td>Calabresa 2</td>
					<td>&nbsp;</td>
					<td><button type="button" class="btn btn-success">Enviar</button></td>
				</tr>
			
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>Sem borda</td>
					<td>Meia</td>
					<td>Atum</td>
					<td>Sem Mussarela</td>
					<td>&nbsp;</td>
				</tr>
						
				<tr>
					<td class="fundoList" colspan="7">&nbsp;</td>
				</tr>
			
				<tr>
					<td>3</td>
					<td>Dani</td>
					<td>Pãozinho Catupiry</td>
					<td>1/3</td>
					<td>Bauru</td>
					<td>&nbsp;</td>
					<td><button type="button" class="btn btn-success">Enviar</button></td>
				</tr>
			
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>Pãozinho Catupiry</td>
					<td>1/3</td>
					<td>Frango</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>Pãozinho Catupiry</td>
					<td>1/3</td>
					<td>Portuguesa</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
							
				<tr>
					<td class="fundoList" colspan="7">&nbsp;</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	
	<br>
	<footer th:replace="/layouts/header :: footer"></footer>
</body>
</html>