<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Cadastrar Empresa - Ibiti das Pizzas</title></head>

<body>
				
	<div class="divbaseForm">
			
		<hr>
		<h1 class="h1Logo">Cadastrar Usuário</h1><br/>
			
		<div class="row">
			<div class="form-group col-md-8">
				<input type="password" class="form-control pula" id="codigo" name="codigo" placeholder="Código de liberação"  autofocus="autofocus"/>  
			</div>
			
			<div class="form-group col-md-4">
				<button class="btn btn-primary pula" id="buscar">Liberar Acesso</button>
			</div>
		</div>
			
		<div id="liberar"></div>
	</div>
	
	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
	<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
	<script th:src="@{/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/js/dev.js}"></script>
</body>
</html>