<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Dias Abertos</title></head>

<body>
	
	<div class="divbase">
		<br>
		
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="text-center col-md-1"><h3>Dia</h3></th>
						<th class="text-center col-md-1"><h3>Troco Inicial</h3></th>
						<th class="text-center col-md-1"><h3>Troco Final</h3></th>
					</tr>
				</thead>
			</table>
			
			<div class="table-scroll">
				<table>
					<tbody id="todosFuncionarios"><tr><td colspan="5">Nenhum dia em aberto!</td></tr></tbody>
				</table>
			</div>
		</div>
	</div>
	
	<br>
	<div class="justify-content-center loading">
  		<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
  		</div>
	</div>
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/diaAberto.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: empresa}"></div>
</html>