<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Divulgar</title></head>

<body>
				
	<div class="divbaseForm">
		<br>
		<input type="hidden" class="form-control" id="id"/>
		
		<div>
			<label>Empresa 1</label>
			<div class="row">
				<div class="col-md-6">
					<label>Nome da empresa:</label>
					<input class="form-control" id="empresa1" />
				</div>
				
				<div class="col-md-6">
					<label>Valor:</label>
					<input class="form-control preco" id="valor1" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<label>Data Inicio:</label>
					<input type="date" class="form-control" id="datai1" />
				</div>
				
				<div class="col-md-6">
					<label>Data Final:</label>
					<input type="date" class="form-control" id="dataf1" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<label>Texto:</label>
					<input class="form-control" id="texto1" />
				</div>
				
				<div class="col-md-6">
					<label>Link:</label>
					<input class="form-control" id="link1" />
				</div>
			</div>
		</div>
		
		<hr><br>
		<div>
			<label>Empresa 2</label>
			<div class="row">
				<div class="col-md-6">
					<label>Nome da empresa:</label>
					<input class="form-control" id="empresa2" />
				</div>
				
				<div class="col-md-6">
					<label>Valor:</label>
					<input class="form-control preco" id="valor2" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<label>Data Inicio:</label>
					<input type="date" class="form-control" id="datai2" />
				</div>
				
				<div class="col-md-6">
					<label>Data Final:</label>
					<input type="date" class="form-control" id="dataf2" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<label>Texto:</label>
					<input class="form-control" id="texto2" />
				</div>
				
				<div class="col-md-6">
					<label>Link:</label>
					<input class="form-control" id="link2" />
				</div>
			</div>
		</div>
		
		<hr><br>
		<div>
			<label>Empresa 3</label>
			<div class="row">
				<div class="col-md-6">
					<label>Nome da empresa:</label>
					<input class="form-control" id="empresa3" />
				</div>
				
				<div class="col-md-6">
					<label>Valor:</label>
					<input class="form-control preco" id="valor3" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<label>Data Inicio:</label>
					<input type="date" class="form-control" id="datai3" />
				</div>
				
				<div class="col-md-6">
					<label>Data Final:</label>
					<input type="date" class="form-control" id="dataf3" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<label>Texto:</label>
					<input class="form-control" id="texto3" />
				</div>
				
				<div class="col-md-6">
					<label>Link:</label>
					<input class="form-control" id="link3" />
				</div>
			</div>
		</div>
		
		<hr><br>
		<div>
			<label>Empresa 4</label>
			<div class="row">
				<div class="col-md-6">
					<label>Nome da empresa:</label>
					<input class="form-control" id="empresa4" />
				</div>
				
				<div class="col-md-6">
					<label>Valor:</label>
					<input class="form-control preco" id="valor4" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<label>Data Inicio:</label>
					<input type="date" class="form-control" id="datai4" />
				</div>
				
				<div class="col-md-6">
					<label>Data Final:</label>
					<input type="date" class="form-control" id="dataf4" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<label>Texto:</label>
					<input class="form-control" id="texto4" />
				</div>
				
				<div class="col-md-6">
					<label>Link:</label>
					<input class="form-control" id="link4" />
				</div>
			</div>
		</div>
		
		<hr><br>
		<div>
			<label>Empresa 5</label>
			<div class="row">
				<div class="col-md-6">
					<label>Nome da empresa:</label>
					<input class="form-control" id="empresa5" />
				</div>
				
				<div class="col-md-6">
					<label>Valor:</label>
					<input class="form-control preco" id="valor5" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<label>Data Inicio:</label>
					<input type="date" class="form-control" id="datai5" />
				</div>
				
				<div class="col-md-6">
					<label>Data Final:</label>
					<input type="date" class="form-control" id="dataf5" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<label>Texto:</label>
					<input class="form-control" id="texto5" />
				</div>
				
				<div class="col-md-6">
					<label>Link:</label>
					<input class="form-control" id="link5" />
				</div>
			</div>
		</div>
		
		<br>
		<div>
			<input type="checkbox" class="form-check-input" id="mostrarNovidades" checked/>
			<label>Mostrar novidades</label>
		</div>
		
		<br>
		<button onclick="salvar()" class="btn btn-success">Salvar</button>
	</div>
	
	<br>
	<div class="justify-content-center loading">
  		<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
  		</div>
	</div>
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
	<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
	<script th:src="@{/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/js/divulgar.js}"></script>
	<script th:src="@{/js/pulaInput.js}"></script>
</body>
	<div th:replace="~{layouts/frag :: dev}"></div>
</html>