<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Cadastrar Empresa</title></head>

<body>
				
	<div class="divbaseForm">
			
		<hr>
		<h1 class="h1Logo">Dados da Empresa</h1><br/>
			
			<input type="hidden" id="id" name="id"/>
			
			<div class="form-group">
				<label>Nome do Empresa:</label>
				<input type="text" class="form-control pula" id="estabelecimento" name="estabelecimento" placeholder="Nome do Estabelecimento"  autofocus="autofocus"/>  
			</div>
			
			<div class="form-group">
				<label>E-mail:</label>
				<input type="email" class="form-control pula" id="email" name="email" placeholder="nome@exemplo.com"/>
			</div>
			
			<div class="form-group">
				<label>Nome da Estabelecimento:</label>
				<input type="text" class="form-control pula" id="empresa" name="empresa" placeholder="Nome da Empresa"/>  
			</div>
			
			<div class="form-group">
				<label>CNPJ:</label>
				<input type="text" class="form-control pula cnpj" id="cnpj" name="cnpj" placeholder="CNPJ"/>
			</div>
			
			<div class="form-group">
				<label>Código de validação:</label>
				<input type="password" class="form-control pula" id="authentication" name="authentication" placeholder="Autenticação"/>
			</div>
			
			<div class="form-group">
				<label>Celular:</label>
				<input type="tel" class="form-control pula cel" id="cel" name="celular" placeholder="Celular"/> 
			</div>
			
			<div class="form-group">
				<label>Valor da Hora Extra:</label>
				<input type="text" class="form-control pula preco" id="horaExtra" name="horaExtra" placeholder="R$ 0.00"/>
			</div>
			
			<div class="form-group">
				<label>Total de mesas:</label>
				<input type="number" class="form-control pula" id="mesa" name="mesa" placeholder="Total de mesas"/>
			</div>
			<!-- 
			<label>Dia e hora de funcionamento:</label><br>
			<div class="row">
				<div class="text-center"><label>Aberto de:</label></div>
				<div class="col-md-2 text-center">
					<select id="dia1" class="form-control">
						<option value="Segunda">Segunda</option>
						<option value="Terca">Terça</option>
						<option value="Quarta">Quarta</option>
						<option value="Quinta">Quinta</option>
						<option value="Sexta">Sexta</option>
						<option value="Sabado">Sabado</option>
						<option value="Domingo">Domingo</option>
					</select>
				</div>
				<div class="col-md-1 text-center"><label>à</label></div>
				<div class="col-md-2 text-center">
					<select id="dia2" class="form-control">
						<option value="Segunda">Segunda</option>
						<option value="Terca">Terça</option>
						<option value="Quarta">Quarta</option>
						<option value="Quinta">Quinta</option>
						<option value="Sexta">Sexta</option>
						<option value="Sabado">Sabado</option>
						<option value="Domingo">Domingo</option>
					</select>
				</div>
				<div class="col-md-1 text-center"><label>Das:</label></div>
				<div class="col-md-2 text-center"><input type="time" class="form-control pula" id="hora1" name="hora1" placeholder="hora inicio"/></div>
				<div class="col-md-1 text-center"><label>à</label></div>
				<div class="col-md-2 text-center"><input type="time" class="form-control pula" id="hora2" name="hora2" placeholder="hora final"/></div>
			</div>
			-->
			<h3><br>Endereço:</h3>
			
			<div class="col-md-2">
			   	<div class="form-group">
			        <label>CEP</label>
	      			<input type="text" class="form-control pula" id="cep" maxlength="12" name="endereco.cep" placeholder="Informe o CEP">
			    </div>
	  		</div>
	  		
		  	<div class="form-row">
		  		<div class="col-md-8">
				   <div class="form-group">
				       <label>Rua</label>
		      		   <input type="text" class="form-control pula" id="rua" name="rua" placeholder="Informe a Rua">
				    </div>
		  		</div>
		  		<div class="col-md-2">
				   <div class="form-group">
				       <label>Nº</label>
		      		   <input type="text" class="form-control pula" id="n" name="n" placeholder="Informe o Número">
				    </div>
		  		</div>
		  	</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Bairro:</label>
					<input type="text" class="form-control pula" id="bairro" name="bairro" placeholder="Informe o bairro"/>  
				</div>
				
				<div class="form-group col-md-6">
					<label>Cidade:</label>
					<input type="text" class="form-control pula" id="cidade" name="cidade" placeholder="Informe a cidade" value="Sorocaba"/> 
				</div>
			</div>
			
			<div class="form-group">
				<label>Referência da Empresa:</label>
				<textarea class="form-control pula" id="referencia" name="referencia" placeholder="Referência da Empresa"></textarea>  
			</div>
			
			<h3><br>Impressão do Pedido:</h3>
			<!--
			<img th:src="@{/img/modoImpressao.png}"data-caption="Impressão do pedido">-->
			
		
			<div class="form-group">
				<input type="checkbox" class="form-group" id="imprimir" checked/>
				<label>Deseja imprimir os pedidos? (Se sim, digite os texto a serem aplicados na impressão).</label>
			</div>
		
			<div class="form-group">
				<label>Texto do rodapé:</label>
				<textarea class="form-control pula" id="texto1" name="texto1" placeholder="Texto 1"></textarea>  
			</div>
			
			<div class="form-group">
				<label>Horário de funcionamento:</label>
				<textarea class="form-control pula" id="texto2" name="texto2" placeholder="Texto 2"></textarea>  
			</div>
			
			<div class="form-group">
				<label>Texto da Promoção:</label>
				<textarea class="form-control pula" id="promocao" name="promocao" placeholder="Promoção"></textarea>  
			</div>
			
			<br>
			<button type="button" id="atualizar" class="form-contact-button" name="atualizar">Atualizar</button>  
	</div>
	
	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	
	<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
	<script th:src="@{/js/buscaCep.js}"></script>
	<script th:src="@{/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/js/empresa.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: opcoes}"></div>
</html>