<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Cadastrar Empresa</title></head>

<body>
				
	<div class="divbaseForm">
			
		<hr>
		<h1 class="h1Logo">Dados da Empresa</h1><br>
			
			<input type="hidden" id="id" name="id"/>
			<input type="hidden" id="idEnd" name="idEnd"/>
			
			<div class="row">
				<div class="col-md-2">	
					<label>CNPJ:</label><br>
					<input type="text" class="form-control pula cnpj" id="cnpj" name="cnpj" placeholder="CNPJ"/>
				</div>
				
				<div class="col-md-4">
					<label>&nbsp;</label><br>
					<button class="btn btn-primary" id="buscarCnpj">Buscar</button>
				</div>
			</div>
			
			<br>
			<div class="row">
				<div class="col-md-6">
					<label>Nome do Empresa:</label><br>
					<input type="text" class="form-control pula" id="empresa" name="empresa" placeholder="Nome da empresa"  autofocus="autofocus"/>  
				</div>
				
				<div class="col-md-6">
					<label>Nome fantasia:</label><br>
					<input type="text" class="form-control pula" id="estabelecimento" name="estabelecimento" placeholder="Nome do Estabelecimento"/>  
				</div>
			</div>
			
			<br>
			<div class="row">
				<div class="col-md-8">
					<label>E-mail:</label><br>
					<input type="email" class="form-control pula" id="email" name="email" placeholder="nome@exemplo.com"/>
				</div>
				
				<div class="col-md-4">
					<label>Telefone:</label><br>
					<input type="tel" class="form-control pula cel" id="cel" name="celular" placeholder="Celular"/> 
				</div>
			</div>
			
			<br>
			<div class="row">
				<div class="col-md-3">
					<label>Valor da Hora Extra:</label><br>
					<input type="text" class="form-control pula preco" id="horaExtra" name="horaExtra" placeholder="R$ 0.00"/>
				</div>
				
				<div class="col-md-3">
					<label>Total de mesas:</label><br>
					<input type="number" class="form-control pula" id="mesa" name="mesa" placeholder="Total de mesas"/>
				</div>
				
				<div class="col-md-3">
					<label>Taxa de serviço para mesa:</label><br>
					<input type="text" class="form-control pula taxa" id="taxaMesa" name="taxaMesa" placeholder="10%" value="0.00 %"/>
				</div>
				
				<div class="col-md-3">
					<label>Taxa de serviço geral:</label><br>
					<input type="text" class="form-control pula taxa" id="taxaEntrega" name="taxaEntrega" placeholder="10%" value="0.00 %"/>
				</div>
			</div>
			
			<br><br><h3>Endereço:</h3>
			
			<div class="row">
				<div class="col-md-2">
				   	<div class="form-group">
				        <label>CEP</label><br>
		      			<input type="text" class="form-control pula" id="cep" maxlength="12" name="endereco.cep" placeholder="Informe o CEP">
				    </div>
		  		</div>
		  		
		  		<div class="col-md-8">
				       <label>Rua</label><br>
		      		   <input type="text" class="form-control pula" id="rua" name="rua" placeholder="Informe a Rua">
		  		</div>
		  		
		  		<div class="col-md-2">
				       <label>Nº</label><br>
		      		   <input type="text" class="form-control pula" id="n" name="n" placeholder="Informe o Número">
		  		</div>
			</div>
			
			<br>
			<div class="row">
				<div class="col-md-6">
					<label>Bairro:</label><br>
					<input type="text" class="form-control pula" id="bairro" name="bairro" placeholder="Informe o bairro"/>  
				</div>
				
				<div class="col-md-6">
					<label>Cidade:</label><br>
					<input type="text" class="form-control pula" id="cidade" name="cidade" placeholder="Informe a cidade" value="Sorocaba"/> 
				</div>
			</div>
			
			<br>
			<div class="form-group">
				<label>Referência da Empresa:</label><br>
				<textarea class="form-control pula" id="referencia" name="referencia" placeholder="Referência da Empresa"></textarea>  
			</div>
			
			<br><h3>Impressão do Pedido:</h3>
		
			<br>		
			<div class="form-check form-switch">
			    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked imprimir" checked>
			    <label class="form-check-label" for="flexSwitchCheckChecked">
			  		Deseja imprimir os pedidos? (Se sim, digite os texto a serem aplicados na impressão).</label>
			</div>
			
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked impressoraOnline" checked>
			    <label class="form-check-label" for="flexSwitchCheckChecked">
					Sistema Modo Online (Opção para usar GazalTech impressora).</label>
			</div>
			<br>
			<div class="form-group">
				<label>Texto do rodapé:</label><br>
				<textarea class="form-control pula" id="texto1" name="texto1" placeholder="Texto 1"></textarea>  
			</div>
			
			<br>
			<div class="form-group">
				<label>Horário de funcionamento:</label><br>
				<textarea class="form-control pula" id="texto2" name="texto2" placeholder="Texto 2"></textarea>  
			</div>
			
			<br>
			<div class="form-group">
				<label>Texto da Promoção:</label><br>
				<textarea class="form-control pula" id="promocao" name="promocao" placeholder="Promoção"></textarea>  
			</div>
			
			<br><br>
			<button type="button" id="atualizar" class="form-contact-button" name="atualizar">Atualizar</button>  
	</div>
	
	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	
	<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
	<script th:src="@{/js/buscaCep.js}"></script>
	<script th:src="@{/js/buscaCnpj.js}"></script>
	<script th:src="@{/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/js/empresa.js}"></script>
	<script th:src="@{/js/pulaInput.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: opcoes}"></div>
</html>