<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head>
	<title>Estatísticas</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
	
	<div class="divbase">
		<h1 class="h1Logo">Estatística</h1>		
		<hr>
		
 		 <h2 align="center">Lucro Bruto/Líquido</h2>
 		 <div id="totalVendas"></div>
 		 <hr>
 		 <h2 align="center">Vendas Externas/Internas</h2>
 		 <div id="entregaBalcao"></div>
 		 <hr>
 		 <h2 align="center">Pizza/Produto</h2>
 		 <div id="pizzaProduto"></div>
	</div>
	
	<br>
	<div class="justify-content-center loading">
  		<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
  		</div>
	</div>
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/estatistica.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: empresa}"></div>
</html>