<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head>
	<title>Fechamento - Ibiti das Pizzas</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
	
	<div class="divbase">
		<h1 class="h1Logo">Fechamento</h1>		
		<hr>
		
		<div class="row">
			<div class="col-md-6 table-responsive">
				<h3>Total em Vendas</h3>
				<div id="totalVendas"></div>
				<br>
			</div>
			
			<div class="col-md-6 table-responsive">
				<h3>Total de Pedidos</h3>
				<div id="totalPedidos"></div>
				<br>
			</div>
		</div>
		
		<br><br>
		<div class="fLeft">
			<a><button name="delete_all" id="delete_all" class="btn btn-danger">APAGAR TODOS PEDIDOS DO DIA</button></a>
		</div>

		<div class="fLeft">
			<a><button name="delete_all" id="download_all" class="btn btn-success">Baixar Pedidos</button></a>
		</div>
		
		<div class="fRight">
			<a><button name="delete_all" id="finalizar_caixa" class="btn btn-success">Finalizar Caixa</button></a>
		</div>
	</div>
	
	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/fechamento.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: adm}"></div>
</html>