<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Fechamento - Ibiti das Pizzas</title></head>

<body>
	
	<div class="divbase">
		<h1 class="h1Logo">Fechamento</h1>		
		<hr>
		
		<div class="row">
			
			<div class="col-md-4 table-responsive">
				<table>
					<thead><tr><td colspan="2"><h3>Total em vendas</h3></td></tr></thead>

					<tbody><tr><td id="Tvendas" class="text-center col-md-1 sombra">R$ 0,00</td></tr></tbody>
				</table>
				<br>
			</div>


			<div class="col-md-4 table-responsive">
				<table>
					<thead><tr><td colspan="2"><h3>Faturamento</h3></td></tr></thead>
					
					<tbody><tr><td id="Tfaturamento" class="text-center col-md-1 sombra">0</td></tr></tbody>
				</table>
				<br>
			</div>
			
			<div class="col-md-4 table-responsive">
				<table>
					<thead><tr><td colspan="2"><h3>Total de Pedidos</h3></td></tr></thead>
					<tbody id="fEnvio" class="sombra"></tbody>
				</table>
				<br>
			</div>
			
			<div class="col-md-4 table-responsive">
				<table>
					<thead><tr><td colspan="2"><h3>Total de Pagamentos</h3></td></tr></thead>
					<tbody><tr id="fPagamento"></tr></tbody>
				</table>
				<br>
			</div>
		</div>
		
		<br>
		<label>CUIDADO!</label><br>
		<a><button name="delete_all" id="delete_all" class="btn btn-danger">APAGAR TODOS PEDIDOS DO DIA</button></a>
		
		<br><br>
		<label>DOWNLOAD</label><br>
		<a><button name="delete_all" id="download_all" class="btn btn-success">download</button></a>
		
		<br><br>
		<label>FINALIZAR CAIXA</label><br>
		<a><button name="delete_all" id="finalizar_caixa" class="btn btn-success">Finalizar</button></a>
	</div>
	
	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/fechamento.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: adm}"></div>
</html>