<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Ficha Técnica</title></head>

<body>
	
	<div class="divbase">
		<h1 class="h1Logo">Ficha Técnica</h1>
		
		<hr>
		<input>
	</div>
	
	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/compras.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: empresa}"></div>
</html>