<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Funcionários Cadastrados</title></head>

<body>
	
	<div class="divbase">
		<h1 class="h1Logo">Buscar Funcionários</h1>
		<hr>
		
		<div class="form-group col-md-10">
			<label>Pesquisar:<br/></label>
			<input type="text" name="nome" id="nomeBusca" autofocus="autofocus" class="form-control" 
				placeholder="Qual nome você está procurando?" style="text-indent: 10px"/>
		</div>
				
		<div class="form-group col-md-2">
			<label><br/></label>
			<button type="submit" name="buscarProduto" id="buscar" class="form-control btn btn-primary">Buscar</button>
		</div>
	
		<br>
		<div>&nbsp;</div>
<!-- ----------------------------------------------------------------------------------------------------------- -->
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="col-md-1"><h3>{}</h3></th>
						<th class="col-md-1"><h3>Funcionario</h3></th>
						<th class="col-md-1"><h3>Celular</h3></th>
						<th class="col-md-1"><h3>Cargo</h3></th>
						<th class="col-md-1"><h3>Ver</h3></th>
					</tr>
				</thead>
				<tbody id="todosFuncionarios"></tbody>
			</table>
		</div>
	
<!-- --------------------------------------------------------------------------------------------------------------- -->
		
	</div>
	
	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/funcionarios/funcionariosCadastrados.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: empresa}"></div>
</html>