<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}"></head>
<head>
	<title>Gazal Tech</title>
	<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
</head>

<body>
	<br>
	<div class="divbaseForm">
		<a th:href="@{/index}"><button class="btn btn-primary">Voltar</button></a>
		
		<h2 align="center">Formulário</h2>
		
		<div class="row">
			<div class="col-md-6">
				<label>Nome:</label><br>
				<input type="text" class="form-control" name="nome" id="nome"/>
			</div>
			
			<div class="col-md-6">
				<label>Email:</label><br>
				<input type="text" class="form-control" name="email" id="email"/>
			</div>
		</div>
		
		<br>
		<div class="form-group">
			<label>Selecione a opção:</label><br>
			<select class="form-select" name="opcao" id="opcao" multiple aria-label="multiple select example">
				<option value="duvida">Dúvida</option>
				<option value="reportar">Reportar erro</option>
				<option value="recomendar">Recomendar alteração</option>
				<option value="avaliar">Avaliar</option>
			</select>
		</div>
		
		<div class="form-group" id="areas" style="display:none">
			<br>
			<label for="exampleDataList" class="form-label">Selecione a tela:</label>
			<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Procurar...">
			<datalist id="datalistOptions">
				<option value="Login">
				<option value="Menu">
				<option value="Novo Pedido">
				<option value="Ver pedidos">
				<option value="Cozinha">
				<option value="Status Cliente">
				<option value="Status Empresa">
				<option value="Motoboy">
				<option value="Finalizar">
				<option value="Fechamento">
				<option value="Relatório do dia">
				<option value="Pedidos Cancelados">
				<option value="Clientes cadastrados">
				<option value="Cadastrar Cliente">
				<option value="Produtos Cadastrados">
				<option value="Cadastrar produto">
				<option value="Estatística">
				<option value="Cadastros">
				<option value="Pagamento">
				<option value="Funcionários cadastrados">
				<option value="Cadastrar Funcionário">
				<option value="Compras">
				<option value="Dias abertos">
				<option value="Empresa">
			</datalist>
		</div>
		
		<div class="form-group" id="campo" style="display:none">
			<br>
			<label id="texto"></label><br>
			<textarea class="form-control" name="conteudo" id="conteudo" placeholder=""></textarea>
		</div>
		
		<br><br>
		<button class="form-control btn btn-success" onclick="enviarEmail()">Enviar</button>
	
	<hr>
	<br>
	<div class="row">
		<div class="col-md-6">
			<h2>Login</h2>
			<div class="fotorama "
			data-allowfullscreen="true"
	     	data-loop="true"
	     	data-autoplay="true"
	     	data-keyboard="true"
	     	data-width="100%"
	     	data-ratio="800/600"
	     	data-minwidth="400"
	     	data-maxwidth="100%"
	     	data-maxheight="70%">
				<img th:src="@{/img/gazaltech/index1.jpeg}" data-caption="Login">
				<img th:src="@{/img/gazaltech/menu1.jpeg}" data-caption="Menu inicial">
			</div>
		</div>
		
		<div class="col-md-6 row">
			<div class="col-md-6">
				<h2>Novo Pedido</h2>
				<div class="fotorama"
				data-allowfullscreen="true"
		     	data-loop="true"
		     	data-autoplay="true"
		     	data-keyboard="true"
		     	data-width="100%"
		     	data-ratio="800/600"
		     	data-minwidth="400"
		     	data-maxwidth="100%"
		     	data-maxheight="70%">
					<img th:src="@{/img/gazaltech/np1.jpeg}" data-caption="imagem 1">
					<img th:src="@{/img/gazaltech/np2.jpeg}" data-caption="imagem 2">
					<img th:src="@{/img/gazaltech/np3.jpeg}" data-caption="imagem 3">
					<img th:src="@{/img/gazaltech/np4.jpeg}" data-caption="imagem 4">
				</div>
			</div>
			<div class="col-md-6">
			<h2>Cozinha</h2>
				<div class="fotorama"
				data-allowfullscreen="true"
		     	data-loop="true"
		     	data-autoplay="true"
		     	data-keyboard="true"
		     	data-width="100%"
		     	data-ratio="800/600"
		     	data-minwidth="400"
		     	data-maxwidth="100%"
		     	data-maxheight="70%">
					<img th:src="@{/img/gazaltech/c1.jpeg}" data-caption="Imagem 1">
					<img th:src="@{/img/gazaltech/c2.jpeg}" data-caption="Imagem 2">
				</div>
			</div>
		</div>
	</div><!-- fim do row -->
	
	<h2>Agilidade no seu dia a dia de trabalho</h2>
	<p>
	
	</div>
	<br>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script th:src="@{/js/gazaltech.js}"></script>
	</body>
</html>
