<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>

<head>
	<link th:href="@{/css/login.css}" rel="stylesheet"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" rel="stylesheet"/>
	<title>Login - Ibiti das Pizzas</title>
</head>

<body>
	<div id="esconderLogin">
		<div class="elemento1">
			<div class="corFundo centralizar" style="padding: 10px">
				
				<img src="/img/logo.jpeg" class="logo" alt="logo"/>
				<hr>
				
				<form class="form-signin was-validated" method="post" th:action="@{/index}">
					<div class="form-label-group">
						<label for="inputEmail">Email</label>
						<input type="email" id="inputEmail" class="form-control"
							placeholder="Digite seu Email" name="username" required autofocus>
					</div>
					
					<br>
					<div class="form-label-group">
						<label for="inputPassword">Senha</label>
						<input type="password" id="inputPassword" class="form-control"
							placeholder="Digite sua senha" name="password" required> 
					</div>
			
					<div class="checkbox mb-3">
						<label> <input type="checkbox" value="remember-me">Ficar conectado</label>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
					<hr>
					<nav class="nav nav-pills flex-column flex-sm-row">
						<a class="flex-sm-fill text-sm-left nav-link text-decoration-none" th:href="@{/u/novo/cadastro}"><i class="far fa-arrow-alt-circle-right"></i>&nbsp;Novo cadastro</a>
						<a class="flex-sm-fill text-sm-left nav-link text-decoration-none" th:href="@{/u/p/redefinir/senha}"><i class="fas fa-key"></i>&nbsp;Recuperar senha</a>
						<a class="flex-sm-fill text-sm-left nav-link text-decoration-none" th:href="@{/}"><i class="fas fa-home"></i>&nbsp;Home</a>
					</nav>
					<p class="mt-5 mb-3 text-muted text-center">Wihaas &copy; 2019</p>
				</form>
			</div>
		</div>
	</div>
	
	<script th:src="@{/js/index.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</body>
</html>
