<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Mensalidade</title></head>

<body>
				
	<div class="divbaseForm">
			
		<hr>
		<h1 class="h1Logo">Mensalidade</h1><br>
		<br>
		
		<div class="row">
			<div class="col-md-6">
				<label>Pagamento recorrente</label><br>
				<!-- INICIO FORMULARIO BOTAO PAGSEGURO: NAO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
				<form action="https://pagseguro.uol.com.br/pre-approvals/request.html" method="post">
					<input type="hidden" name="code" value="CEF744F73838224334960FBE65D4777A" />
					<input type="hidden" name="iot" value="button" />
					<input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/assinaturas/209x48-assinar-assina.gif" name="submit" alt="Pague com PagSeguro - É rápido, grátis e seguro!" width="209" height="48" />
				</form>
				<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
			</div>
			
			<div class="col-md-6">
				<label>Pagamento mensal</label><br>
				<!-- INICIO DO BOTAO PAGSEGURO -->
				<a href="https://pag.ae/7WDiPgmGa/button" target="_blank" title="Pagar com PagSeguro">
					<img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
				</a><!-- FIM DO BOTAO PAGSEGURO -->
			</div>
		</div>
		<!-- 
		<button onclick="gerarBoleto()" class="btn btn-success">Gerar boleto</button>
		<button onclick="gerarCartao()" class="btn btn-success">Gerar Cartao</button> -->
	</div>
	
	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	
	<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
	<script th:src="@{/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/js/mensalidade.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: opcoes}"></div>
</html>