<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Mensalidade</title></head>

<body>
				
	<div class="divbaseForm">
		<br>
		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm caption-top">
				<caption>Mensalidade</caption>
				<thead>
					<tr>
						<th class="text-center col-md-1"><h3>Data</h3></th>
						<th class="text-center col-md-1"><h3>R$</h3></th>
						<th class="text-center col-md-1"><h3>Registro</h3></th>
					</tr>
				</thead>
				<tbody id="mensalidades"><tr><td colspan="3">Nenhuma mensalidade disponível!</td></tr></tbody>
			</table>
		</div>
	</div>
	
	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	
	<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
	<script th:src="@{/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/js/mensalidade.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: inicio}"></div>
</html>