<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
>
<head>
	<link th:href="@{/css/login.css}" rel="stylesheet"/>
	<title>Menu</title>
</head>
<head th:replace="~{layouts/frag :: head}"></head>


<body>
	<br>
	<div class="card col-md-3 border border-danger bg-dark text-white bg-gradient" th:if="${mostrarConquistas} == true">
		<div class="card-body">
	    	<h5 class="card-title">Complete as tarefas</h5>
	    	<div class="row">
				<div class="col-md-2" th:if="${cadEmpresa} == true"><i class="fas fa-check-circle colorGreen"></i></div>
		    	<div class="col-md-2" th:if="${cadEmpresa} == false"><i class="fas fa-times-circle colorRed"></i></div>
		    	<p class="col-md-10 card-text">Cadastre sua empresa</p>
	    	</div>
	    	
	    	<div class="row">
	    		<div class="col-md-2" th:if="${cadProduto} == true"><i class="fas fa-check-circle colorGreen"></i></div>
		    	<div class="col-md-2" th:if="${cadProduto} == false"><i class="fas fa-times-circle colorRed"></i></div>
		    	<p class="col-md-10 card-text">Cadastre seu primeiro produto</p>
	    	</div>
	    	
	    	<div class="row">
	    		<div class="col-md-2" th:if="${cadFuncionario} == true"><i class="fas fa-check-circle colorGreen"></i></div>
		    	<div class="col-md-2" th:if="${cadFuncionario} == false"><i class="fas fa-times-circle colorRed"></i></div>
		    	<p class="col-md-10 card-text">Cadastre seu primeiro funcionário</p>
	    	</div>
	    	
	    	
	    	<div class="row">
		    	<div class="col-md-2" th:if="${cadPedido} == true"><i class="fas fa-check-circle colorGreen"></i></div>
		    	<div class="col-md-2" th:if="${cadPedido} == false"><i class="fas fa-times-circle colorRed"></i></div>
		    	<p class="col-md-10 card-text">Venda seu primeiro pedido</p>
	    	</div>
	  	</div>
	</div>
	
	<header th:replace="~{layouts/frag :: menu}"></header>
	
	<div class="justify-content-center loading">
  		<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
  		</div>
	</div>
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	
	<script th:src="@{/jquery/jquery.mask.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
	<script th:src="@{/js/menu.js}"></script>
    <script th:src="@{/js/trocoInicial.js}"></script>
</body>
	<div th:replace="~{layouts/frag :: dadosMenu}"></div>
</html>
