<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link th:href="@{/css/login.css}" rel="stylesheet" />
<title>Menu</title>
</head>
<head th:replace="~{layouts/frag :: head}"></head>


<body>
	<input type="hidden" id="trocoInicial" th:value="${troco}" />

	<div class="row divbase">
		<!-- ----------------------------------------------------------------------------------------------------- -->
		<div class="col-md-4">
			<h2 class="tituloMenu" align="center">Painel</h2>
			<div class="blocoMenu" th:replace="~{layouts/frag :: conquistaMenu}"></div>

			<div class="menuInicial">
				<a href="" class="blocoMenu col-md-6 border" id="escolherData"> <i
					class="fas fa-calendar-check text-primary"></i>&nbsp;Data de
					acesso: <label th:text="${data}"></label>
				</a> <a href="" id="mostrarDias" class="blocoMenu col-md-6 border"><i
					class="fas fa-exclamation-triangle text-danger"></i>&nbsp;Verificando...

					<div class="justify-content-center loadingAlert">
						<div class="spinner-border" role="status">
							<span class="visually-hidden">Loading...</span>
						</div>
					</div> </a>
			</div>

			<br>
			<div class="menuInicial">
				<a href="" id="suporte" class="blocoMenu col-md-6 border"><i
					class="fas fa-shield-alt text-dark"></i>&nbsp;Suporte </a> <a
					th:href="@{/redefinirSenha}" class="blocoMenu col border">
					<i class="fas fa-recycle text-success"></i>&nbsp;Redefinir senha
				</a>
			</div>
		</div>

		<!-- ----------------------------------------------------------------------------------------------------- -->
		<div class="col-md-4">
			<h2 class="tituloMenu" align="center">Menu</h2>
			
			<div class="row menuInicial" th:if="${permissao} != 'MOTOBOY'">
				<a th:href="@{/u/novoPedido}"
					class="blocoMenu col-md-6 border"> <i
					class="fas fa-shopping-cart text-info"></i>&nbsp;Novo pedido
				</a> <a th:href="@{/u/pedidosFinalizados}"
					class="blocoMenu col-md-6 border"> <i
					class="fas fa-cash-register text-success"></i>&nbsp;Fechamento
				</a>
			</div>

			<br>
			<div class="menuInicial" th:if="${permissao} != 'MOTOBOY'">
				<a th:href="@{/u/cadastroCliente}"
					class="blocoMenu col-md-6 border"><i
					class="far fa-address-card text-warning"></i>&nbsp;Cadastrar
					cliente </a> <a th:href="@{/f/forum}"
					class="blocoMenu col-md-6 border"><i
					class="far fa-comments text-primary"></i>&nbsp;Fórum </a>
			</div>
			<br>
			<div class="menuInicial" th:if="${permissao} != 'MOTOBOY'">
				<a th:href="@{/u/fichaTecnica}"
					class="blocoMenu col-md-6 border"> <i
					class="fas fa-info text-primary"></i> &nbsp;Ficha técnica
				</a> <a th:href="@{/tutorial}"
					class="blocoMenu col-md-6 border"> <i
					class="fas fa-info text-danger"></i> &nbsp;Tutorial
				</a>
			</div>

			<div class="menuInicial" th:if="${permissao} == 'MOTOBOY'">
				<a th:href="@{/u/motoboy}"
					class="blocoMenu col-md-6 border"><i
					class="fas fa-location-arrow text-danger"></i>&nbsp;Entregas </a>
			</div>
		</div>
		
		<!-- ----------------------------------------------------------------------------------------------------- -->
		<div class="col-md-4"><div th:replace="~{layouts/frag :: novidades}"></div></div>
	</div>

	<div class="justify-content-center loading">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>

	<footer th:replace="~{layouts/frag :: footer}"></footer>

	<script th:src="@{/jquery/jquery.mask.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
	<script th:src="@{/js/menu.js}"></script>
	<script th:src="@{/js/trocoInicial.js}"></script>
	<script th:src="@{/js/diaAberto.js}"></script>
</body>
<div th:replace="~{layouts/frag :: dadosMenu}"></div>
</html>
