<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
>
<head>
	<link th:href="@{/css/login.css}" rel="stylesheet"/>
	<title>Menu</title>
	<script>
	$(document).ready(function(){
		$.ajax({
			url: '/novoPedido/empresa',
			type: 'PUT'
		}).done(function(e){
			if(e.length != 0) {
				$("title").text($("title").text() + " - " + e.nomeEstabelecimento);
			}
		});
	});
	</script>
</head>
<head th:replace="~{layouts/frag :: head}" ></head>


<body>
	<header th:replace="~{layouts/frag :: menu}"></header>
</body>
	<div th:replace="~{layouts/frag :: dadosMenu}"></div>
	
	<script th:src="@{/jquery/jquery.mask.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
	<script th:src="@{/js/menu.js}"></script>
</html>
