<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Menu Tablet</title>
    <meta charset="utf-8" lang="pt-br"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>
	<link th:href="@{/jquery/jquery-ui.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/tablet.css}" rel="stylesheet"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" rel="stylesheet"/>
	<link th:href="@{/img/open-iconic-master/font/css/open-iconic-bootstrap.css}" rel="stylesheet"/>
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
</head>

<body>
	<button class="mesa"><b>MESA 12</b></button>
	<button class="carrinho"><b>CARRINHO VAZIO</b></button>
	<h1 align="center" class="titulo">Faça seu pedido</h1>
	
	<div class="row bw">
		<div class="menu text-center col-xs-4 col-xl-2">
			<div class="menuLateral">
				<br>
				<label id="menuOp">Menu</label>
				<br>
				<nav>
					<ol>
						<li><a th:href="@{/novoPedidoTablet}"><button class="botao">Cardápio</button></a></li>
						<li><a><button class="botao" onclick="avalie()">Avalie</button></a></li>
						<li><a><button class="botao">Shows</button></a></li>
					</ol>
				</nav>
				<hr>
			</div>
		</div>
		<div class="menu text-center col-xs-8 col-xl-6">
			<div class="fotorama"
			data-allowfullscreen="true"
	     	data-loop="true"
	     	data-autoplay="true"
	     	data-width="100%"
	     	data-maxheight="100%">
				<img src="/img/show1.jpg" data-caption="show1">
				<img src="/img/show2.jpg" data-caption="show2">
				<img src="/img/show3.jpg" data-caption="show3">
			</div>
		</div>
	</div>
	
	<script th:src="@{/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/js/menuTablet.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
	<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
</body>
</html>