<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Metas</title></head>

<body>
	
	<div class="divbase">
		<br>
		
		<div class="row">
		<!-- ----------------------------------------------------------------------------- -->
			<div class="card col-md-4">
				<div class="card-body">
			    	<h5 class="card-title">Vendas</h5>
			    	<div>
				    	<p class="card-text" id="v1000">Venda R$ 1.000 no dia</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-success" id="pv1000" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	<div>
				    	<p class="card-text" id="v5000">Venda R$ 5.000 no dia</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-info" id="pv5000" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	<div>
				    	<p class="card-text" id="v10000">Venda R$ 10.000 no dia</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-danger" id="pv10000" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	
			    	<div>
				    	<p class="card-text" id="v20000">Venda R$ 20.000 no dia</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-warning" id="pv20000" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			  	</div>
			</div>
		
			<!-- ----------------------------------------------------------------------------- -->
			<div class="card col-md-4">
				<div class="card-body">
			    	<h5 class="card-title">Entregas</h5>
			    	<div>
				    	<p class="card-text" id="e100">Faça 100 entregas</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-success" id="pe100" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	<div>
				    	<p class="card-text" id="e100">Faça 5000 entregas</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-info" id="pe100" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	<div>
				    	<p class="card-text" id="e100">Faça 100.000 entregas</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-danger" id="pe100" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	
			    	<div>
				    	<p class="card-text" id="e100">Faça 500.000 entregas</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-warning" id="pe100" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			  	</div>
			</div>
			
			<!-- ----------------------------------------------------------------------------- -->
			<div class="card col-md-4">
				<div class="card-body">
			    	<h5 class="card-title">Dias</h5>
			    	<div>
				    	<p class="card-text" id="t30">Trabalhe 30 dias</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-success" id="pt30" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	<div>
				    	<p class="card-text" id="t180">Trabalhe 180 dias</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-info" id="pt180" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	<div>
				    	<p class="card-text" id="t365">Trabalhe 365 dias</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-danger" id="pt365" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	
			    	<div>
				    	<p class="card-text" id="t730">Trabalhe 730 dias</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-warning" id="pt730" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			  	</div>
			</div>
			
			
			<!-- ----------------------------------------------------------------------------- -->
			<div class="card col-md-4">
				<div class="card-body">
			    	<h5 class="card-title">Cadastro</h5>
			    	<div>
				    	<p class="card-text" id="c100">Cadastre 100 clientes</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-success" id="pc100" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	<div>
				    	<p class="card-text" id="c1000">Cadastre 1.000 clientes</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-info" id="pc1000" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	<div>
				    	<p class="card-text" id="c5000">Cadastre 5.000 clientes</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-danger" id="pc5000" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	
			    	<div>
				    	<p class="card-text" id="c10000">Cadastre 10.000 clientes</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-warning" id="pc10000" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			  	</div>
			</div>
			
			
			<!-- ----------------------------------------------------------------------------- -->
			<div class="card col-md-4">
				<div class="card-body">
			    	<h5 class="card-title">Sistema</h5>
			    	<div>
				    	<p class="card-text" id="cadEmpresa">Cadastre sua empresa</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-success" id="pcadEmpresa" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	<div>
				    	<p class="card-text" id="cadProduto">Cadastre seu primeiro produto</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-info" id="pcadProduto" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	<div>
				    	<p class="card-text" id=cadFuncionario>Cadastre seu primeiro funcionário</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-danger" id="pcadFuncionario" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			    	
			    	
			    	<div>
				    	<p class="card-text" id="cadPedido">Venda seu primeiro pedido</p>
				   
						<div class="progress">
						  <div class="progress-bar progress-bar-striped bg-warning" id="pcadPedido" role="progressbar" style="width: 75%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
			    	</div>
			  	</div>
			</div>
		</div>
	</div>
	
	<br>
	<div class="justify-content-center loading">
  		<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
  		</div>
	</div>
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/metas.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: empresa}"></div>
</html>