<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Metas</title></head>

<body>
	
	<div class="divbase">
		<br>
		
		<div class="row">
		<!-- ----------------------------------------------------------------------------- -->
			<div class="card col-md-4 border border-primary p-3 mb-2 bg-primary bg-gradient text-white">
				<div class="card-body">
			    	<h5 class="card-title">Vendas concluídas</h5>
			    	<label>Recorde: R$ <span th:text="${maiorTotalVendas}"></span></label>
			    	<div class="row">
				    	<div class="col-md-2" th:if="${v1000} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${v1000} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Venda R$ 1.000 no dia</p>
			    	</div>
			    	
			    	<div class="row">
				    	<div class="col-md-2" th:if="${v5000} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${v5000} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Venda R$ 5.000 no dia</p>
			    	</div>
			    	
			    	<div class="row">
				    	<div class="col-md-2" th:if="${v10000} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${v10000} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Venda R$ 10.000 no dia</p>
			    	</div>
			    	
			    	<div class="row">
				    	<div class="col-md-2" th:if="${v20000} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${v20000} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Venda R$ 20.000 no dia</p>
			    	</div>
			  	</div>
			</div>
		
			<!-- ----------------------------------------------------------------------------- -->
			<div class="card col-md-4 border border-success p-3 mb-2 bg-success text-white bg-gradient">
				<div class="card-body">
			    	<h5 class="card-title">Entregas feitas</h5>
			    	<label>Recorde: <span th:text="${totalEntregas}"></span></label>
			    	<div class="row">
				    	<div class="col-md-2" th:if="${e100} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${e100} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Faça 100 entregas</p>
			    	</div>
			    	
			    	<div class="row">
				    	<div class="col-md-2" th:if="${e5000} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${e5000} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Faça 5000 entregas</p>
			    	</div>
			    	
			    	<div class="row">
				    	<div class="col-md-2" th:if="${e100000} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${e100000} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Faça 100.000 entregas</p>
			    	</div>
			    	
			    	<div class="row">
				    	<div class="col-md-2" th:if="${e500000} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${e500000} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Faça 500.000 entregas</p>
			    	</div>
			  	</div>
			</div>
			
			<!-- ----------------------------------------------------------------------------- -->
			<div class="card col-md-4 border border-warning p-3 mb-2 bg-warning text-dark bg-gradient">
				<div class="card-body">
			    	<h5 class="card-title">Dias trabalhados</h5>
			    	<label>Recorde: <span th:text="${totalDias}"></span></label>
			    	<div class="row">
				    	<div class="col-md-2" th:if="${t30} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${t30} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Trabalhe 30 dias</p>
			    	</div>
			    	
			    	<div class="row">
				    	<div class="col-md-2" th:if="${t180} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${t180} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Trabalhe 180 dias</p>
			    	</div>
			    	
			    	<div class="row">
				    	<div class="col-md-2" th:if="${t365} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${t365} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Trabalhe 365 dias</p>
			    	</div>
			    	
			    	
			    	<div class="row">
				    	<div class="col-md-2" th:if="${t730} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${t730} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Trabalhe 730 dias</p>
			    	</div>
			  	</div>
			</div>
			
			
			<!-- ----------------------------------------------------------------------------- -->
			<div class="card col-md-4 border border-secondary p-3 mb-2 bg-secondary text-white bg-gradient">
				<div class="card-body">
			    	<h5 class="card-title">Cadastros de cliente</h5>
			    	<label>Recorde: <span th:text="${totalClientes}"></span></label>
			    	<div class="row">
				    	<div class="col-md-2" th:if="${c100} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${c100} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Cadastre 100 clientes</p>
			    	</div>
			    	
			    	<div class="row">
				    	<div class="col-md-2" th:if="${c1000} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${c1000} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Cadastre 1.000 clientes</p>
			    	</div>
			    	
			    	<div class="row">
				    	<div class="col-md-2" th:if="${c5000} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${c5000} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Cadastre 5.000 clientes</p>
			    	</div>
			    	
			    	<div class="row">
				    	<div class="col-md-2" th:if="${c10000} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${c10000} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Cadastre 10.000 clientes</p>
			    	</div>
			  	</div>
			</div>
			
			
			<!-- ----------------------------------------------------------------------------- -->
			<div class="card col-md-4 border border-dark p-3 mb-2 bg-dark text-white bg-gradient">
				<div class="card-body">
			    	<h5 class="card-title">Sistema pronto</h5>
			    	<div class="row">
						<div class="col-md-2" th:if="${cadEmpresa} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${cadEmpresa} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Cadastre sua empresa</p>
			    	</div>
			    	
			    	<div class="row">
			    		<div class="col-md-2" th:if="${cadProduto} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${cadProduto} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Cadastre seu primeiro produto</p>
			    	</div>
			    	
			    	<div class="row">
			    		<div class="col-md-2" th:if="${cadFuncionario} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${cadFuncionario} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Cadastre seu primeiro funcionário</p>
			    	</div>
			    	
			    	
			    	<div class="row">
				    	<div class="col-md-2" th:if="${cadPedido} == true"><i class="fas fa-check-circle colorGreen"></i></div>
				    	<div class="col-md-2" th:if="${cadPedido} == false"><i class="fas fa-times-circle colorRed"></i></div>
				    	<p class="col-md-10 card-text">Venda seu primeiro pedido</p>
			    	</div>
			  	</div>
			</div>
		</div>
		<br>
	</div>
	
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/metas.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: inicio}"></div>
</html>