<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Entregas</title></head>

<body>
	
	<div class="divbase">
		<br>
		<input type="hidden" id="btnCadastrar" th:value="${btnCadastrar}"/>
		<div id="divCadastrar" class="hidden">
			<a th:href="@{/adm/cadastroFuncionario/MOTOBOY}"><button class="btn btn-success">Cadastrar Motoboy para entregar</button></a>
		</div>
		<div class="distMargin" id="divFiltro">
			<select name="filtro" id="filtro" autofocus>
				<option value="--">Selecione o motoboy</option>
				<option th:each="fun : ${todosFun}" th:value="${fun.nome}" th:text="${fun.nome}"></option>
			</select>
		</div>
		
		<br>
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="text-center col-md-1"><h3>Comanda</h3></th>
						<th class="text-center col-md-1"><h3>Cliente</h3></th>
						<th class="text-center col-md-2"><h3>Endereço</h3></th>
						<th class="text-center col-md-1"><h3>Qtd produtos</h3></th>
						<th class="text-center col-md-1"><h3>Pagamento</h3></th>
						<th class="text-center col-md-1"><h3>Levar</h3></th>
						<th class="text-center col-md-1"><h3>Entregar</h3></th>
					</tr>
				</thead>
			</table>
			
			<div class="table-scroll">
				<table>
					<tbody id="todosPedidos"><tr><td colspan="8">Nenhum pedido para entregar!</td></tr></tbody>
				</table>
			</div>
		</div>
	</div>
	
	<br>
	<div class="justify-content-center loading">
  		<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
  		</div>
	</div>
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/motoboy.js}"></script>
	<script th:src="@{/js/pulaInput.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: inicio}"></div>
</html>