<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/header :: head}" ></head>
<head><title>Motoboy - Ibiti das Pizzas</title></head>

<body>
	<header th:replace="~{layouts/header :: logo}"></header>
	
	<div class="divbase">
		<h1 class="h1Logo">Entregas</h1>
			
		<div class="distMargin">
			<label>Motoboy</label>
			<select autofocus="autofocus" name="filtro" id="filtro">
			<option value="--">-----------</option>
		</select></div>

		<div class="table-responsive">
		<table>
			<thead>
				<tr>
					<th class="text-center col-md-1"><h3>{}</h3></th>
					<th class="text-center col-md-1"><h3>Nome</h3></th>
					<th class="text-center col-md-2"><h3>Endereço</h3></th>
					<th class="text-center col-md-1"><h3>Nº Pizzas</h3></th>
					<th class="text-center col-md-1"><h3>Troco</h3></th>
					<th class="text-center col-md-1"><h3>Entregar</h3></th>
				</tr>
			</thead>
			
			<tbody id="todosPedidos"></tbody>
		</table>
		</div>
	</div>
	
	<br><br><br><br><br><br><br><br><br><br>
	<footer th:replace="~{layouts/header :: footer}"></footer>
	<script th:src="@{/js/motoboy.js}"></script>
</body>
</html>