<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="/layouts/header :: head"></head>
<head>
<title>Novo Pedido - Ibiti das Pizzas</title>
</head>

<body>
	<header th:replace="/layouts/header :: logo"></header>

	<div class="divbase">
		<h1 class="h1Logo esconder1">Novo Pedido</h1>

		<div id="divBuscar">
			<div class="form-group col-md-10">
				<input type="search" name="celular" id="numeroCliente"
				autofocus="autofocus" class="form-control"
				placeholder="Qual cliente você está procurando?"
				style="text-indent: 10px; border: 1px solid black" />
			</div>

			<div class="form-group col-md-2">
				<button type="submit" name="buscarCliente" id="buscarCliente"
					class="form-control btn btn-primary">Buscar</button>
			</div>
		</div>
		<br>
		
		<div class="row" id="mostrar">
			<div class="col-md-4 table-responsive">
				<table>
					<thead>
						<tr>
							<td colspan="2"><h3 style="text-align: center">Dados</h3></td>
						</tr>
					</thead>

					<tbody class="mostrar1">
						<tr>
							<td class="text-center col-md-1">{}</td>
							<td class="text-center col-md-1" id="idCliente"></td>
						</tr>

						<tr >
							<td style="background-color: #D3D3D3" class="text-center col-md-1">Nome</td>
							<td style="background-color: #D3D3D3"class="text-center col-md-1"  id="nomeCliente"></td>
						</tr>
						<tr>
							<td class="text-center col-md-1">Celular</td>
							<td class="text-center col-md-1" id="celCliente"></td>
						</tr>
					</tbody>
				</table>
			</div>


			<div class="col-md-4 table-responsive">
				<table>
					<thead>
						<tr>
							<td colspan="2"><h3 style="text-align: center">Opções</h3></td>
						</tr>
					</thead>
					
					<tbody class="mostrar1">
						<tr>
							<td class="text-center col-md-1"><label for="envioCliente">Envio:</label></td>
							<td class="text-center col-md-1"><select name="opcao" id="envioCliente">
									<option value="ENTREGA">Entrega</option>
									<option value="BALCAO">Balcão</option>
									<option value="MESA">Mesa</option>
									<option value="IFOOD">Ifood</option>
									<option value="DRIVE">Drive-Thru</option>
							</select></td>
						</tr>
	
						<tr>
							<td style="background-color: #D3D3D3" class="text-center col-md-1"><label>Pronto às:</label></td>
							<td style="background-color: #D3D3D3" class="text-center col-md-1">
								<input type="time" id="tempoCliente" name="aguardar" placeholder="horario" /></td>
						</tr>
	
						<tr>
							<td class="text-center col-md-1"><label for="pagamentoCliente">Pago:</label></td>
							<td class="text-center col-md-1"><select name="pagamento" id="pagamentoCliente">
									<option value="Sim">Sim</option>
									<option value="Não">Não</option>
							</select></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-md-4 table-responsive">
				<table>
					<thead>
						<tr>
							<td colspan="2"><h3 style="text-align: center">Endereço</h3></td>
						</tr>
					</thead>
					
					<tbody class="mostrar1">
						<tr>
							<td id="enderecoCliente" class="text-center col-md-1">Rua:</td>
						</tr>
						<tr>
							<td id="taxaCliente" style="background-color: #D3D3D3" class="text-center col-md-1">Taxa:</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="btn-group" role="group" aria-label="Second group"
			style="float: right">
			<a id="ConfirmarCliente" class="esconder1"><button type="button"  class="btn btn-secondary btn-success">
			 Confirmar Cliente</button></a>
		</div>
		
		
		<div class="btn-group" role="group" aria-label="Second group" id="editarCliente">
			<p id="dados"></p>
			<a><button type="button"class="btn btn-secondary btn-success">Editar</button></a>
		</div>
		<br>
	</div>

	<!-------------------------------------------------------------------------------------------------------------------------->
	
	<br>
	<div class="divbase" id="mostrarProdutos">
		<div>
			<h2 style="text-align: center">Pesquisar Produtos:</h2>
		</div>
	
		<div align="center">
			<div class="col-md-6" id="focusProduto">
				<input type="search" name="nomeProduto" class="form-control mb-2" id="nomeProduto"
				style="text-indent: 10px" placeholder="Qual produto está procurando?"/>
			</div>
	
			<div class="col-md-2">
				<button type="submit" name="buscarProduto" id="buscarProduto"
					class="form-control mb-2 btn btn-primary">Buscar</button>
			</div>
		</div>
	
<!-- --------------------pizzas---------------------------------------------------------------------------------- -->
		<br><br>
		<div align="center">
			<div class="table-responsive">
				<table>
					<thead>
						<tr>
							<th class="col-md-1"><h5>Borda Recheada</h5></th>
							<th class="col-md-1"><h5>Qtd</h5></th>
							<th class="col-md-1"><h5>Observação</h5></th>
						</tr>
					</thead>
				
					<tbody>
						<tr>
							<td> 
								<select class="form-control" name="borda" id="borda">
									<option th:each="borda : ${TipoBorda}" th:value="${borda}"
										th:text="${borda.descricao}"></option>
								</select> 
							</td>
							<td><input type="text" class="form-control" name="qtd" id="qtd" placeholder="qtd" value="1"/></td>
							<td><input type="text" class="form-control" name="obs" id="obs" placeholder="Observação" /><br></td>
						</tr>
					</tbody>
					
					<tfoot id="listaProdutos" style="display:none">
						<tr>
							<td colspan="3" style="border:none">
								<div class="table-responsive">
									<table style="width: 100%">
										<thead><tr><th colspan="3"><h4>Lista de Produtos</h4></th></tr></thead>
										<tbody id="todosProdutos"></tbody>
									</table>
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
<!-- ------------------------------------------------------------------------------------------------- -->
	<br>
	<div class="divbase mostrarPedidos">
		<h2 class="h1Logo">Pedido</h2>
		
		<div class="btn-group" role="group" aria-label="Second group" style="float: right">
			<button type="button"  class="removerProduto btn btn-secondary btn-danger">Remover ultimo produto adicionado</button>
		</div>
		
		<br><br>
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="col-md-1"><h5>Borda Recheada</h5></th>
						<th class="col-md-1"><h5>Produto</h5></th>
						<th class="col-md-1"><h5>Observação</h5></th>
						<th class="col-md-1"><h5>Qtd</h5></th>
						<th class="col-md-1"><h5>R$</h5></th>
					</tr>
				</thead>
	
				<tbody id="novoProduto"></tbody>
			</table>
			
			<br>
			<h3 id="Ttotal" style="float: right">Total</h3><br>
		</div>
	</div>
	
	<br>
	<div class="divbase mostrarPedidos">
		<h2 class="h1Logo" align="center">Finalizar pedido</h2>
		
		<div class="btn-group" role="group" aria-label="Basic example">
			<a href="/novoPedido"><button type="button" class="btn btn-secondary btn-danger">
			Cancelar pedido</button></a>
		</div>

		<div class="btn-group" role="group" aria-label="Second group" style="float: right">
			<a id="enviarPedido"><button type="button" class="btn btn-secondary btn-success">
			Salvar pedido</button></a>
		</div>
		
		<div class="btn-group" role="group" aria-label="Second group" style="float: right">
			<a id="atualizarPedido"><button type="button" class="btn btn-secondary btn-success">
			Atualizar pedido</button></a>
		</div>
	</div>

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<footer th:replace="/layouts/header :: footer"></footer>
	
    <script src="/js/novoPedido.js"></script>
</body>
</html>