<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}"></head>
<head><title>Novo Pedido</title></head>

<body>
	<input type="hidden" id="trocoInicial" th:value="${trocoInicial}" />
				
	<div class="divbase" align="center">
		<!-- Div de busca ---------------------------------------->
		<div class="col-md-6 divBuscarCliente">
			<h4><b>Iniciar pedido</b></h4>
			<hr>
			<!-- Input -->
			<div class="form-group">
				<input type="search" id="numeroCliente"
				autofocus="autofocus" class="form-control textIndent pula"
				placeholder="Digite o nome do pedido ou telefone do cliente"/>
			</div>
			
			<br>
			<!-- Adicionar cliente -->
			<div class="form-group d-inline">
				<a th:href="@{/f/cadastroCliente}">
					<button class="btn btn-success">
						<i class="fas fa-plus" id="cadastroCliente"></i> Cliente
					</button>
				</a>
			</div>
			
			<!-- Adicionar pedido -->
			<div class="form-group d-inline">
				<button name="buscarCliente" onclick="buscarCliente()"
					class="btn btn-primary pula">
					<i class="fas fa-plus"></i> Iniciar pedido
				</button>
			</div>
		</div>
		
		<!-- Div de dados --------------------------------------->
		<div align="left" class="dadosCliente hidden">
			<div>
				<h4><b>Pedido</b></h4>
				<ul class="list-group list-group-horizontal-sm">
				 	<li class="list-group-item"><i class="fas fa-user-circle text-primary"></i> <span id="nomeCliente"></span></li>
				 	<li class="list-group-item iconesEntrega"><i class="fas fa-phone-alt text-success"></i> <span id="celCliente"></span></li>
					<li class="list-group-item iconesEntrega"><i class="fas fa-motorcycle text-info"></i> <span id="enderecoCliente"></span></li>
				  	<li class="list-group-item iconesEntrega"><i class="fas fa-money-bill-wave-alt text-success"></i> <span id="taxaCliente"></span></li>
				 	<li class="list-group-item"><i class="fas fa-user-circle text-primary"></i> Total: R$ <span id="TotalPedido">R$ 0.00</span></li>
				 	<li class="list-group-item"><i class="fas fa-user-circle text-primary"></i> Qtd: <span id="TotalProdutos">0</span></li>
				 	<li class="list-group-item">
				 		<button class="btn btn-success" onclick="BotaoEnviarPedido()">
							<i class="fas fa-check"></i> Finalizar</button>
					</li>
				</ul>
			</div>
			
			<br>
			<button class="btn" onclick="btnMaisOpcoes()" id="btnMaisOpcoes">Mais opções <i class="fas fa-sort-down"></i></button>
			
			<div class="divMaisOpcoes hidden">
				<br><br>
				<div class="row">
				<!-- ------------------------------------------------------------------------------------------- -->
					<div class="col-md-6">
						<div>
							<label><b>O pedido foi pago:</b></label>
							<select class="form-control calcularPedido" id="pagoCliente">
								<option value="nao">Não</option>
								<option value="sim">Sim</option>
							</select>
						</div>
						
						<br>
						<div class="row">
							<div>
								<label><b>Forma de pagamento:</b></label>
								<select class="form-control calcularPedido" id="selectModoPagamento">
									<option value="dinheiro">Dinheiro</option>
									<option value="cartao">Cartão</option>
								</select>
							</div>
							
							<div id="divModoPagamentoDinheiro">
								<br>
								<label><b>Receber:</b></label>
								<div class="input-group mb-3">
									<span class="input-group-text">R$</span>
									<input class="form-control calcularPedido preco" id="modoPagamentoDinheiro" placeholder="Precisa de troco?"/>
								</div>
							</div>
							
							<div id="divModoPagamentoCartao" class="hidden">
								<br>
								<label><b>Bandeira:</b></label>
								<select class="form-control calcularPedido" id="modoPagamentoCartao">
									<option value="--">---</option>
									<option value="Mastercard">Mastercard</option>
									<option value="Visa">Visa</option>
									<option value="Pix">Pix</option>
									<option value="American Express">American Express</option>
									<option value="Hipercard">Hipercard</option>
									<option value="Elo">Elo</option>
									<option value="Alelo">Alelo</option>
									<option value="Amex">Amex</option>
									<option value="Diners Club">Diners Club</option>
									<option value="VR Benefícios">VR Benefícios</option>
									<option value="Cirrus">Cirrus</option>
									<option value="Cielo">Cielo</option>
									<option value="Eletron">Eletron</option>
									<option value="Sorocred">Sorocred</option>
									<option value="Maestro">Maestro</option>
									<option value="Ticket">Ticket</option>
									<option value="Sodexo">Sodexo</option>
								</select>
								<span>&nbsp;</span>
							</div>
						</div>
					</div>
				
				<!-- ------------------------------------------------------------------------------------------- -->
					<div class="col-md-6">
						<div id="divEnvio">
							<label><b>Modo de envio:</b></label>
							<select class="form-control calcularPedido" id="envioCliente">
							</select>
						</div>
						
						<div id="divGarcon" class="hidden">
							<br>
							<label><b>Garçon:</b></label>
							<select class="form-control calcularPedido" id="garcon">
								<option value="--">---</option>
							</select>
						</div>
						
						<div id="divCobrarTaxa" class="hidden">
							<br>
							<label><b>Cobrar taxa?</b></label>
							<select class="form-control calcularPedido" id="cobrarTaxa">
								<option value="sim">Sim</option>
								<option value="nao">Não</option>
							</select>
						</div>
						
						<br>
						<div>
							<label><b>Observação do Pedido:</b></label>
							<textarea id="obsPedido" class="form-control" placeholder="Observação do pedido"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="alert alert-warning hidden" role="alert" id="alertPedidoAberto">Esse pedido ja existe!</div>

	<!-------------------------------------------------------------------------------------------------------------------------->
		<div>
			<hr>
			<div class="row">
				<label><b>Buscar produtos:</b></label>
				<div class="form-group col-md-8">
					<input type="search" class="form-control textIndent pula" id="nome"
					placeholder="Digite o nome/codigo do produto"/>
				</div>
		
				<div class="form-group col-md-4">
					<button id="buscarProduto" onclick="buscarProdutos()"
					class="form-control btn btn-primary pula"><i class='fas fa-search-plus'></i> Buscar</button>
				</div>
			</div>
			<br>
		</div>
		<br>
		<div class="row">
			<br>
			<hr>
			<div class="col-md-6">
				
				<label><b>Resultado busca:</b></label>
				<div class="table-responsive">
					<table class="table table-striped table-hover table-sm caption-top">
						<thead>
							<tr>
								<th class="col-md-1">add</th>
								<th class="col-md-1">Produto</th>
								<th class="col-md-1">R$</th>
							</tr>
						</thead>
						<tbody id="listaProdutosEncontrados"><tr><td colspan="3">Nenhum produto encontrado!</td></tr></tbody>
					</table>
				</div>
			</div>
		
		<!-- ------------------------------------------------------------------------------------------------- -->
			<div class="col-md-6">
				<label><b>Produtos adicionados:</b></label>
				<div class="table-responsive">
					<table class="table table-striped table-hover table-sm caption-top">
						<thead>
							<tr>
								<th class="col-md-1">Produto</th>
								<th class="col-md-1">Observação</th>
								<th class="col-md-1">R$</th>
								<th class="col-md-1">rm</th>
							</tr>
						</thead>
						<tbody id="listaProdutosAdicionados"><tr><td colspan="4">Nenhum produto adicionado!</td></tr></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="justify-content-center loading">
  		<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
  		</div>
	</div>
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	
    <script th:src="@{/js/novoPedidoNovo.js}"></script>
    <script th:src="@{/js/trocoInicial.js}"></script>
	<script th:src="@{/js/validacoes.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: inicio}"></div>
</html>