<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/header :: head}"></head>
<head><title>Novo Pedido - Ibiti das Pizzas</title></head>

<body>
	<header th:replace="~{layouts/header :: logo}"></header>

	<div class="divbase">
	
		
		<div id="divBuscar">
		
			<div class=" col-md-2 fRight">
				<a th:href="@{/cadastroCliente}"><button class="form-control btn btn-success">Cadastrar Cliente</button></a>
			</div>
			
			<div class="col-md-2" >
				<a th:href="@{/verpedido}"><button class="form-control btn btn-success">Ver Pedidos</button></a>
			</div>
			
			<h1 class="h1Logo esconder1">Novo Pedido</h1>
		
			<div class="form-group col-md-10">
				<input type="search" name="celular" id="numeroCliente"
				autofocus="autofocus" class="form-control textIndent"
				placeholder="Qual cliente você está procurando? (celular ou nome)"/>
			</div>

			<div class="form-group col-md-2">
				<button type="submit" name="buscarCliente" id="buscarCliente"
					class="form-control btn btn-primary">Buscar</button>
			</div>
			<br>
		</div>
		
		
		<div class="row" id="mostrar">
			<div class="col-md-6 table-responsive">
				<table>
					<thead>
						<tr>
							<td colspan="2"><h3>Dados</h3></td>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="text-center col-md-1">{}</td>
							<td class="text-center col-md-1" id="idCliente"></td>
						</tr>

						<tr >
							<td class="text-center col-md-1 sombra">Nome</td>
							<td class="text-center col-md-1 sombra"  id="nomeCliente"></td>
						</tr>
						<tr>
							<td class="text-center col-md-1">Celular</td>
							<td class="text-center col-md-1" id="celCliente"></td>
						</tr>
					</tbody>
				</table>
			</div>

<!-- 
		<tr>
			<td class="text-center col-md-1 sombra"><label>Pronto às:</label></td>
			<td class="text-center col-md-1 sombra">
				<input type="time" id="tempoCliente" name="aguardar" placeholder="horario" /></td>
		</tr>
-->
			<div class="col-md-6 table-responsive">
				<table>
					<thead>
						<tr>
							<td colspan="2"><h3>Endereço</h3></td>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<td id="enderecoCliente" class="text-center col-md-1">Rua:</td>
						</tr>
						<tr>
							<td id="taxaCliente" class="text-center col-md-1 sombra">Taxa:</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		
		<!-- balcão------------------------------------------------------------------------------------------------- -->
		<div class="btn-group" role="group" aria-label="Second group">
			<p id="nomeBalcao"></p>
		</div>
	</div>

	<!-------------------------------------------------------------------------------------------------------------------------->
	
	<br>
	<div>
		<div class="col-md-6">
			<div class="divbase" id="mostrarProdutos">
			
				<div class="row">
					<div class="col-md-10" id="focusProduto">
						<input type="search" name="nomeProduto" class="form-control mb-2 textIndent pula" id="nomeProduto"
						placeholder="Qual produto está procurando?"/>
					</div>
			
					<div class="col-md-2">
						<button type="submit" name="buscarProduto" id="buscarProduto"
							class="form-control mb-2 btn btn-primary">Buscar</button>
					</div>
				</div>
			</div>
	
	<!-- ------------------------------------------------------------------------------------------------- -->
		
			<div class="divbase mostrarPedidos">
				
				<div class="btn-group fRight" role="group" aria-label="Second group">
					<button type="button"  class="removerProduto btn btn-danger">Remover ultimo produto adicionado</button>
				</div>
				
				<br><br>
				<div class="table-responsive">
					<table>
						<thead>
							<tr>
								<th class="col-md-1"><h5>Borda Recheada</h5></th>
								<th class="col-md-1"><h5>Produto</h5></th>
								<th class="col-md-1"><h5>Observação</h5></th>
								<th class="col-md-1"><h5>Qtd</h5></th>
								<th class="col-md-1"><h5>R$</h5></th>
							</tr>
						</thead>
			
						<tbody id="novoProduto"></tbody>
					</table>
				</div>
			</div>
		</div>
	
		<div class="col-md-6">
			<div class="divbase mostrarPedidos">
				<h2 class="h1Logo" align="center">Finalizar pedido</h2>
				<table>	
					<tr id="divEnvio">
						<td class="text-center col-md-3 sombra"><label for="envioCliente">Envio:</label></td>
						<td class="text-center col-md-3"><select name="opcao" id="envioCliente">
								<option value="ENTREGA">Entrega</option>
								<option value="BALCAO">Balcão</option>
								<option value="MESA">Mesa</option>
								<option value="IFOOD">Ifood</option>
								<option value="DRIVE">Drive-Thru</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="text-center col-md-3"><label for="pagamentoCliente">Pago:</label></td>
						<td class="text-center col-md-3 sombra"><select name="pagamento" id="pagamentoCliente">
								<option value="Sim">Sim</option>
								<option value="Não">Não</option>
						</select></td>
					</tr>
				</table>
				<br>
				<h3 id="Ttotal">Total</h3><br>
				
				<div class="btn-group" role="group" aria-label="Basic example">
					<a href="/novoPedido"><button type="button" class="btn btn-secondary btn-danger">
					Cancelar pedido</button></a>
				</div>
		
				<div class="btn-group fRight" role="group" aria-label="Second group">
					<a id="enviarPedido"><button type="button" class="btn btn-secondary btn-success">
					Salvar pedido</button></a>
				</div>
				
				<div class="btn-group fRight" role="group" aria-label="Second group">
					<a id="atualizarPedido"><button type="button" class="btn btn-secondary btn-success">
					Atualizar pedido</button></a> 
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<footer th:replace="~{layouts/header :: footer}"></footer>
	
    <script th:src="@{/js/novoPedido.js}"></script>
</body>
</html>