<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Pagamento</title></head>

<body>
	
	<div class="divbase">
		<h1 class="h1Logo">Pagamento</h1>
		
		<hr>
		
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="text-center col-md-1"><h3>Funcionário</h3></th>
						<th class="text-center col-md-1"><h3>Celular</h3></th>
						<th class="text-center col-md-1"><h3>Salário</h3></th>
						<th class="text-center col-md-1"><h3>Cargo</h3></th>
						<th class="text-center col-md-1"><h3>Ver</h3></th>
					</tr>
				</thead>
				
				<tbody id="todosFuncionarios"></tbody>
			</table>
		</div>
	</div>
	
	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/pagamento.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: empresa}"></div>
</html>