<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Pagamento</title></head>

<body>
	
	<div class="divbase">
		<br>
		<div class="col-md-4">
			<select name="filtro" id="filtro">
				<option value="1">Contratado</option>
				<option value="0">Demitido</option>
				<option value="2">Todos</option>
			</select>
			
			<button onclick="filtrar()" class="btn btn-primary">Filtrar</button>
		</div>
		<br>
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="text-center col-md-1"><h3>Funcionário</h3></th>
						<th class="text-center col-md-1"><h3>Celular</h3></th>
						<th class="text-center col-md-1"><h3>Salário</h3></th>
						<th class="text-center col-md-1"><h3>Dia</h3></th>
						<th class="text-center col-md-1"><h3>Cargo</h3></th>
						<th class="text-center col-md-1"><h3></h3></th>
					</tr>
				</thead>
				<tbody id="todosFuncionarios"><tr><td colspan="6">Nenhum Funcionário encontrado!</td></tr></tbody>
			</table>
		</div>
	</div>
	
	<br>
	<div class="justify-content-center loading">
  		<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
  		</div>
	</div>
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/pagamento.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: empresa}"></div>
</html>