<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>

<head>
	<link th:href="@{/css/login.css}" rel="stylesheet"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" rel="stylesheet"/>
	<title>Acesso negado</title>
</head>

<body>
	<div class="indexCentral">
		<div class="corFundo centralizar col-md-6 border border-primary border-2">
			<img th:src="@{/img/logoPizzaria.png}" width="80%"/>
			<hr>
			
			<h3 class="text-center" th:text="${status}"></h3>
			<h2 class="text-center" style="color: #B22222" th:text="${tipo}"></h2>
			<br>
			<label>Voce não tem permissão para acessar essa pagina!</label>
			<br>
			<label>Utilize um usuário <span th:text="${perfil}"></span></label>
			<hr>
			<nav class="nav nav-pills flex-column flex-sm-row">
				<a class="flex-sm-fill text-sm-left nav-link text-decoration-none" th:href="@{/menu}">&nbsp;Voltar ao menu</a>
			</nav>
			<p class="mt-5 mb-3 text-muted text-center">GazalTech &copy; 2021</p>
		</div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script th:src="@{/js/erro.js}"></script>
</body>
</html>
