<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Cadastros - Ibiti das Pizzas</title></head>

<body>

	<div class="divbase">
		<h1 class="h1Logo">Buscar Produtos</h1>
		<hr>
		
		<div class="form-group col-md-10">
			<label>Pesquisar:<br/></label>
			<input type="text" name="nome" id="nomeBusca" autofocus="autofocus" class="form-control textIndent pula" 
				placeholder="Qual nome você está procurando?"/>
		</div>

		<div class="form-group col-md-2">
			<label><br/></label>
			<input type="button" name="buscarProduto" id="buscar" class="form-control btn btn-primary pula" value="Buscar"/>
		</div>

		<div>&nbsp;</div>

		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="col-md-1"><h3>{ }</h3></th>
						<th class="col-md-1"><h3>Codigo</h3></th>
						<th class="col-md-1"><h3>Produto</h3></th>
						<th class="col-md-1"><h3>Preço</h3></th>
						<th class="col-md-1"><h3>Custo</h3></th>
						<th class="col-md-1"><h3>Ver</h3></th>
					</tr>
				</thead>
				<tbody id="todosProdutos"></tbody>
			</table>
		</div>
	</div>

	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/produtos/produtosCadastrados.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: cadastros}"></div>
</html>