<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}"></head>
<head>
<title>Produtos Cadastrados</title>
</head>

<body>

	<div class="divbase">
		<br>
		<div class="row">
			<div class="col-md-4 table-responsive">
				<table class="table table-striped table-hover caption-top table-sm">
					<caption>Produtos cadastrados</caption>
					<tr>
						<td th:text="${produtos}" class="text-center col-md-1">0</td>
					</tr>
				</table>
			</div>

			<div class="col-md-8">
				<button class="btn btn-primary" onclick="mostrarPizzas()"
					id="btnPizzas">Mostrar Top 10 Pizzas</button>
				<div>&nbsp;</div>

				<div class="table-responsive hidden" id="topPizzas">
					<table class="table table-striped table-hover table-sm">
						<caption>
							<i class="fas fa-trophy"></i> Top 10 Pizzas
						</caption>
						<thead>
							<tr>
								<th class="col-md-1">Ranking</th>
								<th class="col-md-1">Pizza</th>
								<th class="col-md-1">Vendida</th>
							</tr>
						</thead>
						<tbody id="pizzasTop" class="text-center col-md-1">
							<tr>
								<td colspan="3">Nenhuma pizza adicionada!</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<label>Nome:</label> <input type="text" name="nome" id="nomeBusca"
					autofocus="autofocus" class="form-control textIndent pula"
					placeholder="Qual produto você está procurando?" />
			</div>

			<div class="col-md-2">
				<div>&nbsp;</div>
				<input type="button" name="buscarProduto" id="buscar"
					class="form-control btn btn-primary pula" value="Buscar" />
			</div>
		</div>
		<br>

		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm">
				<thead>
					<tr>
						<th class="col-md-1"><h3>Código</h3></th>
						<th class="col-md-1"><h3>Produto</h3></th>
						<th class="col-md-1"><h3>Setor</h3></th>
						<th class="col-md-1"><h3></h3></th>
					</tr>
				</thead>
				<tbody id="todosProdutos">
					<tr>
						<td colspan="5">Nenhum produto encontrado!</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<br>
	<div class="justify-content-center loading">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>

	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/produtos/produtosCadastrados.js}"></script>
	<script th:src="@{/js/pulaInput.js}"></script>
</body>

<div th:replace="~{layouts/frag :: inicio}"></div>
</html>