<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="/layouts/header :: head" ></head>
<head><title>Prontos - Ibiti das Pizzas</title></head>

<body>
	<header th:replace="/layouts/header :: logo"></header>
	
	<div class="divbase">
		<h1 class="h1Logo">Saída de Pedidos</h1>
		
		<div>
			<label for="filtro">Filtrar:</label >
				<select name="filtro" id="filtro" >
					<option value="TODOS">Todos</option>
					<option value="PRONTO">Prontos</option>
					<option value="COZINHA">Em andamento</option>
				</select>
		</div>
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="text-center col-md-1"><h3>{}</h3></th>
						<th class="text-center col-md-1"><h3>Nome</h3></th>
						<th class="text-center col-md-1"><h3>Borda</h3></th>
						<th class="text-center col-md-1"><h3>Qtd</h3></th>
						<th class="text-center col-md-1"><h3>Sabor</h3></th>
						<th class="text-center col-md-1"><h3>Obs</h3></th>
						<th class="text-center col-md-1"><h3>Tipo</h3></th>
						<th class="text-center col-md-1"><h3>Status</h3></th>
					</tr>
				</thead>
				
				<tbody id="todosPedidos"></tbody>
			</table>
		</div>
	</div>
	
	<br><br><br><br><br><br><br><br><br><br>
	<footer th:replace="/layouts/header :: footer"></footer>
	<script src="/js/prontos.js"></script>
</body>
</html>