<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Relatório do Dia</title></head>

<body>
	
	<div class="divbase">
		<br>
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="text-center col-md-1"><h3>Comanda</h3></th>
						<th class="text-center col-md-1"><h3>Cliente</h3></th>
						<th class="text-center col-md-1"><h3>Qtd Produtos</h3></th>
						<th class="text-center col-md-1"><h3>Total</h3></th>
						<th class="text-center col-md-1"><h3></h3></th>
					</tr>
				</thead>
			</table>
					
			<div class="table-scroll">
				<table>
					<tbody id="todosPedidos"><tr><td colspan="6">Nenhum pedido finalizado!</td></tr></tbody>
				</table>
			</div>
		</div>
	</div>
	
	<br>
	<div class="justify-content-center loading">
  		<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
  		</div>
	</div>
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/relatoriodia.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: adm}"></div>
</html>