<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Retirada</title></head>

<body>
	
	<div class="divbase">
		<h1 class="text-center"><i class="fas fa-arrow-alt-circle-down"></i> Acompanhe seu pedido - Balcão</h1>
		<div class="table-responsive row">
			<div class="col-md-6">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th class="text-center raio20leftTop raio20RightTop bg-danger" colspan="2"><h3>Em Andamento</h3></th>
						</tr>
						<tr>
							<th class="text-center col-md-6 raio20leftBottom"><h3>Comanda</h3></th>
							<th class="text-left col-md-6 raio20RightBottom"><h3>Cliente</h3></th>
						</tr>
					</thead>
					
					<tbody id="andamento"><tr><td colspan="2">Nenhum pedido disponível!</td></tr></tbody>
				</table>
			</div>
			
			<div class="col-md-6">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th class="text-center raio20leftTop raio20RightTop bg-success" colspan="2"><h3>Pronto</h3></th>
						</tr>
						<tr>
							<th class="text-center col-md-6 raio20leftBottom"><h3>Comanda</h3></th>
							<th class="text-left col-md-6 raio20RightBottom"><h3>Cliente</h3></th>
						</tr>
					</thead>
					
					<tbody id="pronto"><tr><td colspan="2">Nenhum pedido disponível!</td></tr></tbody>
				</table>
			</div>
		</div>
	</div>
	
	<br>
	<div class="justify-content-center loading">
  		<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
  		</div>
	</div>
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/retirada.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: inicio}"></div>
</html>