<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/header :: head}"></head>
<head><title>Sobre - Ibiti das Pizzas</title></head>

<body>
	<header th:replace="~{layouts/header :: opcoes}"></header>
	
	<br>
	<div class="divbase">
		<div class="container centralizar">
			<h1 class="h1Logo">Sobre</h1>
			<p>Este projeto foi desenvolvido utilizando o modelo Spring boot MVC</p><br>
		
			<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="text-center col-md-3"><h3>Desenvolvedores</h3></th>
						<th class="text-center col-md-3"><h3>Linguagens utilizadas</h3></th>
					</tr>
				
				<tbody>
					<tr>
						<td class="sobre">Full-Stack Developer:<br>- William Alfred Gazal Júnior<br><br>Instrutor:<br>- Italo Haas Pascoli</td>
						<td class="sobre">- Html<br>- Css<br>- Java<br>- MySql<br>- Thymeleaf<br>- Jpa<br>- Hibernate<br>- Maven<br>Sistema: Spring Tools Suite 4</td>
					</tr>
				</tbody>
			</table>
			</div>
			
			<br><br>
			<div class="row">
				<div class="col-md-4">
					<label>Acesse meu Linkedin:</label>
				
					<a class="btn btn-info" href="https://www.linkedin.com/in/william-alfred-gazal-j%C3%BAnior-369a76185/">Clique aqui</a>
				</div>
				
				<div class="col-md-4">
					<label>Repositorio do projeto no GitHub:</label>
				
					<a class="btn btn-info" href="https://github.com/willjrcom/SpringMVC_project1">Clique aqui</a>
				</div>
			</div>
		</div>
	</div>
	
	<br>
	<footer th:replace="~{layouts/header :: footer}"></footer>
	
	</body>
</html>