<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Status</title></head>

<body>
	
	<div class="divbase">
		<h1 class="h1Logo">Pedidos</h1>
		<hr>
		<div>
			<label for="filtro">Filtrar:</label >
			<select name="filtro" id="filtro" >
				<option value="TODOS">Todos</option>
				<option value="PRONTO">Pronto</option>
				<option value="COZINHA">Em Andamento</option>
			</select>
		</div>
		
		<br>
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="text-center col-md-1"><h3>Comanda</h3></th>
						<th class="text-center col-md-1"><h3>Cliente</h3></th>
						<th class="text-center col-md-1"><h3>Borda</h3></th>
						<th class="text-center col-md-1"><h3>Sabor</h3></th>
						<th class="text-center col-md-1"><h3>Obs</h3></th>
						<th class="text-center col-md-1"><h3><span class="oi oi-clock"></span></h3></th>
					</tr>
				</thead>
				
				<tbody id="todosPedidos"></tbody>
			</table>
		</div>
	</div>
	
	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/statusEmpresa.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: inicio}"></div>
</html>