<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/header :: head}" ></head>
<head><title>Cadastros - Ibiti das Pizzas</title></head>

<body>
	<header th:replace="~{layouts/header :: cadastros}"></header>
	
	<div class="divbase">
		<h1 class="h1Logo">Total de Cadastros</h1>
		<hr>
	
	<div class="row">
			<div class="col-md-4 table-responsive">
				<table>
					<thead>
						<tr>
							<td colspan="2"><h3>Clientes</h3></td>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td id="Tclientes" class="text-center col-md-1 sombra">0</td>
						</tr>
					</tbody>
				</table>
			</div>


			<div class="col-md-4 table-responsive">
				<table>
					<thead>
						<tr>
							<td colspan="2"><h3>Funcionários</h3></td>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<td id="Tfuncionarios" class="text-center col-md-1 sombra">0</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-md-4 table-responsive">
				<table>
					<thead>
						<tr>
							<td colspan="2"><h3>Produtos</h3></td>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<td id="Tprodutos" class="text-center col-md-1 sombra">0</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
<!-- ------------------------------------------------------------------------------------------------ -->
		<div>
			<h2 class="centralizar h1Logo"><br/>Clientes<br/></h2>
			<div class="table-responsive">
			<table class="col-md-12">
				<thead>
					<tr>
						<th class="col-md-1"><h3>{}</h3></th>
						<th class="col-md-3"><h3>Nome</h3></th> 
						<th class="col-md-3"><h3>Celular</h3></th>
						<th class="col-md-4"><h3>Endereço</h3></th>
						<th class="col-md-1"><h3 >Editar</h3></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="cliente : ${clientes}">
						<td th:text="${cliente.id}"></td>
						<td th:text="${cliente.nome}"></td>
						<td th:text="${cliente.celular}"></td>
						<td th:text="${cliente.endereco.rua}"></td>
						<td>
							<a th:href="@{/cadastroCliente/editar/{id}(id = ${cliente.id})}" title="Editar">
							<button class="botao"><span class="oi oi-pencil"></span></button></a>
						</td>
					</tr>
						
					<tr>
						<td th:if="${#lists.isEmpty(clientes)}" colspan="5">Nenhum cliente encontrado!</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
<!-- ----------------------------------------------------------------------------------------------------------- -->
		<div>&nbsp;</div>
		<div>
			<h2 class="centralizar h1Logo"><br/>Funcionários<br/></h2>
			
			<div class="table-responsive">
			<table class="col-md-12">
				<thead>
					<tr>
						<th class="col-md-1"><h3>{}</h3></th>
						<th class="col-md-3"><h3>Funcionario</h3></th>
						<th class="col-md-3"><h3>Celular</h3></th>
						<th class="col-md-4"><h3>Cargo</h3></th>
						<th class="col-md-1"><h3>Editar</h3></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="funcionario : ${funcionarios}">
						<td th:text="${funcionario.id}"></td>
						<td th:text="${funcionario.nome}"></td>
						<td th:text="${funcionario.celular}"></td>
						<td th:text="${funcionario.cargo}"></td>
						<td>
							<a th:href="@{/cadastroFuncionario/editar/{id}(id = ${funcionario.id})}" title="Editar">
							<button class="botao"><span class="oi oi-pencil"></span></button></a>
						</td>
					</tr>
						
					<tr>
						<td th:if="${#lists.isEmpty(funcionarios)}" colspan="5">Nenhum funcionário encontrado!</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
<!-- --------------------------------------------------------------------------------------------------------------- -->
		<div>&nbsp;</div>
		<div>
			<h2 class="centralizar h1Logo"><br/>Produtos<br/></h2>
			
			<div class="table-responsive">
			<table class="col-md-12">
				<thead>
					<tr>
						<th class="col-md-1"><h3>{ }</h3></th>
						<th class="col-md-1"><h3>Produto</h3></th>
						<th class="col-md-1"><h3>Preço</h3></th>
						<th class="col-md-1"><h3>Editar</h3></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="produto : ${produtos}">
						<td th:text="${produto.codigoBusca}"></td>
						<td th:text="${produto.nomeProduto}"></td>
						<td th:text="${produto.preco}"></td>
						<td>
							<a th:href="@{/cadastroProduto/editar/{id}(id = ${produto.id})}" title="Editar">
							<button class="botao"><span class="oi oi-pencil"></span></button></a>
						</td>
					</tr>
						
					<tr>
						<td th:if="${#lists.isEmpty(produtos)}" colspan="5">Nenhum produto encontrado!</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div>&nbsp;</div>
	</div>
	
	<br>
	<footer th:replace="~{layouts/header :: footer}"></footer>
	<script th:src="@{/js/todosCadastros.js}"></script>
</body>
</html>