<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Cadastros</title></head>

<body>
	
	<div class="divbase">
		<h1 class="h1Logo">Total de Cadastros</h1>
		<hr>
	
		<div class="row">
				<div class="col-md-4 table-responsive">
					<table>
						<thead>
							<tr>
								<td colspan="2"><h3>Clientes</h3></td>
							</tr>
						</thead>
	
						<tbody>
							<tr>
								<td th:text="${clientes}" class="text-center col-md-1 sombra">0</td>
							</tr>
						</tbody>
					</table>
				</div>
	
	
				<div class="col-md-4 table-responsive">
					<table>
						<thead>
							<tr>
								<td colspan="2"><h3>Funcionários</h3></td>
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<td th:text="${funcionarios}" class="text-center col-md-1 sombra">0</td>
							</tr>
						</tbody>
					</table>
				</div>
	
				<div class="col-md-4 table-responsive">
					<table>
						<thead>
							<tr>
								<td colspan="2"><h3>Produtos</h3></td>
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<td th:text="${produtos}" class="text-center col-md-1 sombra">0</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div>&nbsp;</div>
				
				<div class="row">
					<div class="col-md-4"><button class="btn btn-primary" onclick="mostrarClientes()" id="btnClientes">Mostrar Top 10 Clientes</button></div>
					<div class="col-md-4"><button class="btn btn-primary" onclick="mostrarMesas()" id="btnMesas">Mostrar Top 10 Mesas</button></div>
				</div>
				<br><hr><br>
				
				<div class="col-md-4 table-responsive hidden" id="topClientes">
					<table>
						<thead>
							<tr>
								<td colspan="3"><h3><i class="fas fa-trophy"></i> Top 10 Clientes</h3></td>
							</tr>
							<tr>
			 		 			<th class="col-md-1">Ranking</th>
								<th class="col-md-1">Cliente</th>
	 		 					<th class="col-md-1">Pedidos</th>
	 		 				</tr>
						</thead>
						
						<tbody id="nenhumaMesa">
							<tr>
								<td id="top10Rank" class="text-center col-md-1 sombra">Top 1</td>
								<td id="top10Cliente" class="text-center col-md-1 sombra">...</td>
								<td id="top10Total" class="text-center col-md-1 sombra">0</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				
		 		<div class="col-md-4 table-responsive hidden" id="topMesas">
			 		<table>
			 			<thead>
			 				<tr>
			 					<td colspan="3"><h3><i class="fas fa-trophy"></i> Top 10 Mesas</h3></td>
			 				</tr>
			 		 		<tr>
			 		 			<th class="col-md-1">Ranking</th>
			 		 			<th class="col-md-1">Mesa</th>
			 		 			<th class="col-md-1">Utilizada</th>
			 		 		</tr>
			 		 	</thead>
			 		 	<tbody id="mesasTop" class="text-center col-md-1 sombra"><tr><td colspan="3">........</td></tr></tbody>
			 		 </table>
		 		 </div>
			</div>
		
	<!-- ------------------------------------------------------------------------------------------------ -->
			<!-- <div>
				<h2 class="centralizar h1Logo"><br>Clientes<br></h2>
				<div class="table-responsive">
				<table class="col-md-12">
					<thead>
						<tr>
							<th class="col-md-1"><h3>{}</h3></th>
							<th class="col-md-3"><h3>Cliente</h3></th> 
							<th class="col-md-3"><h3>Celular</h3></th>
							<th class="col-md-4"><h3>Endereço</h3></th>
							<th class="col-md-1"><h3 >Editar</h3></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="cliente : ${clientes}">
							<td th:text="${cliente.id}"></td>
							<td th:text="${cliente.nome}"></td>
							<td th:text="${cliente.celular}"></td>
							<td th:text="${cliente.endereco.rua}"></td>
							<td>
								<a th:href="@{/cadastroCliente/editar/{id}(id = ${cliente.id})}" title="Editar">
								<button class="botao"><span class="oi oi-pencil"></span></button></a>
							</td>
						</tr>
							
						<tr>
							<td th:if="${#lists.isEmpty(clientes)}" colspan="5">Nenhum cliente encontrado!</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div> -->
		<div>&nbsp;</div>
	</div>
	
	<br>
	
	<div class="justify-content-center loading">
  		<div class="spinner-border" role="status">
    		<span class="visually-hidden">Loading...</span>
  		</div>
	</div>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/todosCadastros.js}"></script>
</body>

	<div th:replace="~{layouts/frag :: empresa}"></div>
</html>