<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}"></head>
<head>
	<title>Tutorial</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	  $( function() {
	    $( "#tabs" ).tabs();
	  } );
  </script>
</head>

<body>
	<br>
	<div class="divbase" align="center">
	
		<h1 class="h1Logo">Tutorial</h1>
		<hr>
		
		<div id="tabs">
			<ul>
		    	<li><a href="#tabs-1">Novo Pedido</a></li>
		    	<li><a href="#tabs-2">Cozinha</a></li>
		    	<li><a href="#tabs-3">Status</a></li>
		    	<li><a href="#tabs-4">Entregar</a></li>
		    	<li><a href="#tabs-5">Finalizar</a></li>
			</ul>
			<div id="tabs-1">
				<p>Eu sou para tirar novos pedidos, editar ou atualizar.
				<br>Se você o pedido for uma entrega é só digitar o celular cadastrado do cliente para fazer a busca.
				<br>Caso seja um balcão, Mesa ou Drive-thru é necessário o nome do cliente ou da mesa.
				<br>Após o pedido ser confirmado, pode ser feita a impressão.</p>
				<a th:href="@{/novoPedido}"><button class="btn btn-primary">Novo Pedido</button></a>
			</div>
			<div id="tabs-2">
				<p>Aqui você vai ver todos os pedidos com pizzas que ainda estão em andamento.
				<br>Se o pedido ficar pronto, deve clicar no botão enviar para ficar pronto.</p>
				<a th:href="@{/cozinha}"><button class="btn btn-primary">Cozinha</button></a>
			</div>
		  	<div id="tabs-3">
		    	<p>Para ter controle, a tela de Status mostra cada pedido e sua situação.
				<br>A tela Status cliente é uma tela mais otimizada, apenas com o nome e a situação,
				<br>Já a Status empresa é destinada ao controle e checagem de pizzas que saem do forno.</p>
				<a th:href="@{/statusCliente}"><button class="btn btn-primary">Status Cliente</button></a>
				<a th:href="@{/statusEmpresa}"><button class="btn btn-primary">Status Empresa</button></a>
			</div>
			<div id="tabs-4">
		    	<p>Aqui você pode selecionar qual pedido vai ser entregue e qual motoboy vai entregar</p>
				<a th:href="@{/motoboy}"><button class="btn btn-primary">Motoboy</button></a>
			</div>
			<div id="tabs-5">
		    	<p>Para dar baixa em qualquer pedido, é necessario selecionar o funcionário responsável e finalizar com sucesso!</p>
				<a th:href="@{/finalizar}"><button class="btn btn-primary">Finalizar</button></a>
			</div>
		</div>
		
		<div class="fotorama"
		data-allowfullscreen="true"
     	data-nav="thumbs"
     	data-loop="true"
     	data-autoplay="true"
     	data-keyboard="true"
     	data-width="50%"
     	data-ratio="800/600"
     	data-minwidth="400"
     	data-maxwidth="1000"
     	data-minheight="300"
     	data-maxheight="50%">
			<img th:src="@{/img/tutorial.png}" data-caption="Tutorial">
		</div>
		
	</div>
	<br>
	
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
	</body>
	
	<div th:replace="~{layouts/frag :: opcoes}"></div>
</html>