<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/frag :: head}" ></head>
<head><title>Ver Pedido</title></head>
<body>
	
	<div class="divbase">
		<h1 class="h1Logo">Ver Pedidos</h1>
		
		<hr>
		<div>
			<select name="filtro" id="filtro">
				<option value="TODOS">Todos</option>
				<option value="Sim">Pago</option>
				<option value="Não">A pagar</option>
			</select>
			<button onclick="filtrar()" class="btn btn-primary">Filtrar</button>
		</div>
		
		<br>
		
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="text-center col-md-1"><h3>Comanda</h3></th>
						<th class="text-center col-md-1"><h3>Cliente</h3></th>
						<th class="text-center col-md-1"><h3>Tº Produtos</h3></th>
						<th class="text-center col-md-1"><h3>Total R$</h3></th>
						<th class="text-center col-md-1"><h3>Tipo</h3></th>
						<th class="text-center col-md-1"><h3>   </h3></th>
					</tr>
				</thead>
				
				<tbody id="todosPedidos"></tbody>
			</table>
		</div>
	</div>
	
	<br>
	<footer th:replace="~{layouts/frag :: footer}"></footer>
	<script th:src="@{/js/verpedido.js}"></script>
</body>

	<div th:replace="~{layouts/frag:: inicio}"></div>
</html>