<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{layouts/header :: head}" ></head>
<head><title>Ver Pedido - Ibiti das Pizzas</title></head>
<body>
	<header th:replace="~{layouts/header :: logo}"></header>
	
	<br>
	<div class="divbase">
		<h1 class="h1Logo">Ver Pedidos</h1>
		
		<br>
		<div>
			<label for="filtro">Filtrar:</label >
				<select name="filtro" id="">
					<option value="op">Todos</option>
					<option value="op">Pago</option>
					<option value="op">A pagar</option>
				</select>
		</div>
		
		<br>
		
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th class="text-center col-md-1"><h3>{}</h3></th>
						<th class="text-center col-md-1"><h3>Nome</h3></th>
						<th class="text-center col-md-1"><h3>Nº pizzas</h3></th>
						<th class="text-center col-md-1"><h3>Total</h3></th>
						<th class="text-center col-md-1"><h3>Tipo</h3></th>
						<th class="text-center col-md-1"><h3>Ver</h3></th>
					</tr>
				</thead>
				
				<tbody id="todosPedidos"></tbody>
			</table>
		</div>
	</div>
	
	<br><br><br><br><br><br><br><br><br><br>
	<footer th:replace="~{layouts/header :: footer}"></footer>
	<script th:src="@{/js/verPedido.js}"></script>
</body>
</html>